{% extends 'base.html.twig' %}

{% block title %}My shelves{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Parameters</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shelf in shelves %}
            <tr>
                <td><strong>{{ shelf.name }}</strong></td>
                <td>
                    {% if shelf.queryString is not null %}
                    Query: <code>{{ shelf.queryString }}</code><br>
                    Filters: <code>{{ shelf.queryFilter }}</code><br>
                    Order: <code>{{ shelf.queryOrder }}</code>
                    {% else %}
                        Manual
                    {% endif %}
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        <a href="{{ path('app_shelf_crud_edit', {'id': shelf.id}) }}" class="btn btn-primary btn-sm">edit</a>
                        <a href="{{ path('app_shelf_crud_delete', {'id': shelf.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no shelves found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ component('AddNewShelf',{'user':app.user,'shelf':null}) }}

{% endblock %}
