{% extends 'base.html.twig' %}

{% block title %}{{ author }}{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-9 col-offset-md-3">
            <h1>{{ author }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Series'|trans }}</h3>
            <div class="row">
                {% for serie, book in firstBooks %}
                    <div class="col-md-2">
                        <h4>{{ serie }}</h4>

                        {% include 'book/_teaser.html.twig' with {book: book} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Other books'|trans }}</h3>
            <div class="row">
                {% for book in otherBooks %}
                    <div class="col-md-1">
                        {% include 'book/_teaser.html.twig' with {book: book} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
