{% extends 'base.html.twig' %}

{% block title %}Kobo index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AccessKey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kobo in kobos %}
            <tr>
                <td>{{ kobo.id }}</td>
                <td>{{ kobo.name }}</td>
                <td>{{ kobo.accessKey }}</td>
                <td>
                    {% if is_granted('VIEW', kobo) %}
                        <a href="{{ path('app_kobodevice_user_show', {'id': kobo.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('EDIT', kobo) %}
                        <a href="{{ path('app_kobodevice_user_edit', {'id': kobo.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_kobodevice_user_new') }}">Create new</a>


    {{ include('kobodevice_user/instructions.html.twig') }}
{% endblock %}
