{% extends 'base.html.twig' %}

{% block body %}
    {% if article.image is not null %}
    <aside>
        <img alt="{{ article.title }}"
             src="{{ asset('images/'~article.image)|imagine_filter('big') }}">
    </aside>
    {% endif %}
    <article>
        <p>
            {{ article.type }}
        </p>
        <h1>
            {% if article.eventDate is not null %}
                <span>
                    {{ article.eventDate|date('d.m.Y') }}
                </span>
            {% endif %}
            {{ article.title }}
        </h1>
        <div>
            {{ article.heading|raw }}
        </div>
        <div>
            {{ article.body|raw }}
        </div>

        <time datetime="{{ article.created|date('c') }}">&Eacute;crit le {{ article.created|date('d.m.Y') }}</time>
    </article>
{% endblock %}
