{% extends themedTemplate('base.html.twig') %}

{% block title %}
    {{ 'dashboard.hello'|trans }} {{ app.user.username }}!
{% endblock %}

{% block body %}

{% if reading|length>0 %}
    <h3 class="mt-4">{{ 'dashboard.continue-reading'|trans }}</h3>
    <div class="bookGrid bookGrid--large">
        {% for bookInteraction in reading %}
            <div class="bookGrid__item">
                {% include themedTemplate('book/_teaser.html.twig') with {book: bookInteraction.book, progress: {
                    read: bookInteraction.readPages,
                    total: bookInteraction.book.pageNumber,
                    readUrl: path('app_book_read',{'book':bookInteraction.book.id,'slug':bookInteraction.book.slug, page:bookInteraction.readPages, libraryFolder: bookInteraction.book.libraryFolder|default(default_library_folder.folderData.slug)})
                }} %}
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3 class="mt-4">{{ 'dashboard.reading-list'|trans }}</h3>
<div class="row mb-4">
    {% if readlist|length>0 %}
        <div class="bookGrid bookGrid--large">
        {% for bookInteraction in readlist %}
            <div class="bookGrid__item">
                {% include themedTemplate('book/_teaser.html.twig') with {book: bookInteraction.book} %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="col-12 text-muted">
            {{ 'book.add-to-favorites'|trans }}
        </div>
    {% endif %}
    <div class="col-12 mt-0">
        <a  class="btn btn-bare btn-sm" href="{{ path('app_readinglist') }}" >{{ 'reading-list.showall'|trans }} <i class="bi bi-caret-right-fill"></i></a>
    </div>
</div>

{% if booksInSeries|length >0 %}
    <h3 class="mt-4">{{ 'dashboard.series-in-progress'|trans }}</h3>
    <div class="bookGrid">
        {% for serie, book in booksInSeries %}
            <div class="bookGrid__item">
                <a href="{{ path('app_serie_detail',{'name':serie}) }}">
                    {% include themedTemplate('book/_cover.html.twig') with {
                        book: book.book,
                        interaction: null,
                        progress: {
                            read: book.progress.booksFinished,
                            total: book.progress.bookCount,
                            readUrl: path('app_book_read',{'book':book.book.id,'slug':book.book.slug, libraryFolder: bookInteraction.book.libraryFolder|default(default_library_folder.folderData.slug)})
                        }
                    } %}
                </a>
                <strong>{{ serie }}</strong><br />
                {% for author in book.book.authors %}
                <a href="{{ filter_book_url({'authors': author}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                </a><br />
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <h3 class="mt-4">{{ 'dashboard.need-inspiration'|trans }}</h3>
    <div class="row mb-4">

    {% for tag in inspiration %}
        <div class="col-md-6">
            <h6>{{ tag.item }}</h6>
            <div class="row">
                {% for book in tag.books %}
                    <div class="col-2">
                        {% include themedTemplate('book/_teaser.html.twig') with {book: book} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
