{% extends themedTemplate('base.html.twig') %}

{% block title %} {{ "notverified.all-books"|trans }} {% endblock %}
{% block body %}

    {% if books|length==0 %}
        <div class="alert alert-success">
            {{ "notverified.all-books-have-been-verified"|trans }}
        </div>
    {% else %}
    <h2>{{ "notverified.batch-edit-all-books-in-the-list"|trans }}</h2>
    {{ component('InlineEditMultiple', {books: books, field:'authors', fieldValue:[]}) }}
    {{ component('InlineEditMultiple', {books: books, field:'serie', fieldValue:[]}) }}
    {{ component('InlineEditMultiple', {books: books, field:'tags', fieldValue:[]}) }}
    {{ component('InlineEditMultiple', {books: books, field:'ageCategory', fieldValue:[]}) }}
    {% if books|length>0 and is_granted('RELOCATE', books|first) %}
    <a href="{{ path('app_notverified', {'action':'relocate'}) }}" class="btn btn-sm btn-outline-danger">{{ "notverified.relocate-all-books"|trans }}</a>
    {% endif %}
    <a href="{{ path('app_notverified', {'action':'extract'}) }}" class="btn btn-sm btn-outline-danger">{{ "notverified.extract-all-covers"|trans }}</a>
    <a href="{{ path('app_notverified', {'action':'validate'}) }}" class="btn btn-sm btn-outline-danger">{{ "notverified.mark-all-as-validated"|trans }}</a>

    <h2 class="mt-5">
        {{ "notverified.books"|trans }}
    </h2>
    {% if books|length>=100 %}
        <div class="alert alert-warning">
            {{ "notverified.only-the-first-100-books-are-displayed"|trans }}
        </div>
    {% endif %}
        <table class="table-striped table table-bordered table-hover">
            <tr>
                {# sorting of properties based on query components #}
                <th style="width:90px">
                </th>
                <th>
                    {{ 'book.title'|trans }}
                </th>
                <th style="width:90px"></th>
            </tr>

            {% for book in books %}
                <tr>
                    <td>

                        {% if book.imageFilename is not null %}
                            <a href="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" target="_blank">
                                <img class="w-100" src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}" />
                            </a>
                        {% else %}
                            <a href="{{ path('app_extractCover', { 'id':book.id }) }}" >Get Cover</a>
                        {% endif %}
                    </td>
                    <td>
                        <div>
                        <a class="h4" href="{{ path('app_book', {'book':book.id, 'slug':book.slug}) }}">{{ book.title }}</a>
                        {% for author in book.authors %}
                        <a href="{{ filter_book_url({'authors': author}) }}" class="text-decoration-none text-secondary">
                            <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                        </a>
                        {% endfor %}
                        </div>
                        <div>
                            {{ book.serie }}

                            {% if book.serie is not null %}
                                #{{ book.serieIndex }}
                            {% endif %}
                            {{ component('FieldGuesser',{'book':book}) }}
                        </div>
                        <div>
                            {% if book.ageCategory is not null %}
                                {{ enum("App\\Enum\\AgeCategory").label(book.ageCategory)|trans }}
                            {% endif %}
                        </div>


                        <div class="my-1">

                        {{ component('Assistant', {book: book}) }}
                        </div>

                    </td>
                    <td>
                        {% if not book.verified and is_granted('RELOCATE', book) %}
                            {{ component('InlineEditVerified',{'book':book}) }}
                            <a href="{{ path('app_book_relocate', {'id':book.id}) }}" class="btn btn-sm btn-outline-danger">{{ "book.relocate"|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}


