{% extends 'base.html.twig' %}

{% block title %}{{ "instance-configuration.title"|trans }}{% endblock %}

{% block body %}

<table class="table table-striped table-bordered">
    <tr>
        <th>{{ "instance-configuration.parameter"|trans }}</th>
        <th>{{ "instance-configuration.description"|trans }}</th>
        <th>{{ "instance-configuration.current-value"|trans }}</th>
    </tr>
    {%for key, param in documentedParams%}
        <tr>
            <td><code>{{key}}</code></td>
            <td>{{param.description}}</td>
            <td style="word-break: break-all; ">{{param.value}}</td>
        </tr>
    {%endfor%}
    {%for key, param in editableParams%}
        <tr>
            <td class="bg-success-subtle"><code>{{key}}</code></td>
            <td class="bg-success-subtle">{{ "instance-configuration.this-value-can-be-set-from-dotenv-or-from-this-page"|trans }}</td>
            <td class="bg-success-subtle" style=" word-break: break-all;">
                {{param}}
                <a href="{{path('app_instance_configuration_edit', {'name': key})}}">{{ "instance-configuration.edit"|trans }}</a>
            </td>
        </tr>
    {%endfor%}
</table>


{% endblock %}
