{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
<table class="table-striped table table-bordered table-hover">
    <tr>
        {# sorting of properties based on query components #}
        <th style="width:70px">
        </th>
        <th>
            {{ 'title'|trans }}
        </th>
        <th style="width: 15%">
            {{ 'author'|trans }}
        </th>
        <th style="width: 15%">
            {{ 'serie'|trans }}
        </th>
        <th style="width: 15%">
            {{ 'index'|trans }}
        </th>
        <th style="width:90px"></th>
        <th style="width:35px"></th>
        <th style="width:35px"></th>
    </tr>

    {% for book in pagination %}
        <tr>
            <td>
                <a href="{{ path('app_book', {'book':book.id, 'slug':book.slug}) }}">

                {% if book.imageFilename is not null %}
                    <img class="w-100" src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}" />
                {% else %}
                    <img class="w-100" src="{{ asset('images/blank.jpg')|imagine_filter('thumb') }}" />
                {% endif %}
                </a>
            </td>
            <td colspan="4">
                <div>
                {{ component('InlineEditBook', {'book':book, 'field':'title'}) }}
                </div>
                <div>
                {{ component('InlineEditBook', {'book':book, 'field':'authors'}) }}
                </div>
                <div>
                    {{ component('InlineEditBook', {'book':book, 'field':'serie'}) }}

                    {% if book.serie is not null %}
                        <div class="w-25"> {{ component('InlineEditBook', {'book':book, 'field':'serieIndex'}) }}</div>
                    {% endif %}
                    {{ component('FieldGuesser',{'book':book}) }}
                </div>
                <div>
                    {{ component('InlineEditBook', {'book':book, 'field':'ageCategory'}) }}
                </div>
            </td>
            <td>
                {% include 'book/_interaction.html.twig' %}
            </td>
            <td>
                {% if not book.verified %}
                    {{ component('InlineEditBook',{'book':book, 'field':'verified'}) }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_book', {'book':book.id, 'slug':book.slug}) }}">
                    <i class="bi bi-book"></i>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>