
{{ knp_pagination_filter(pagination, {
    'b.title': 'Title',
    'b.mainAuthor': 'Author',
    'b.serie': 'Serie',
},[], {'displayMode':displayMode}) }}

<table class="table-striped table table-bordered table-hover">
    <tr>
        {# sorting of properties based on query components #}
        <th style="width:70px">

        </th>
        <th{% if pagination.isSorted('b.title') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Title', 'b.title') }}
        </th>
        <th{% if pagination.isSorted('b.mainAuthor') %} class="sorted"{% endif %}  style="width: 15%">
            {{ knp_pagination_sortable(pagination, 'Author', 'b.mainAuthor') }}
        </th>
        <th{% if pagination.isSorted('b.serie') %} class="sorted"{% endif %} style="width: 15%">
            {{ knp_pagination_sortable(pagination, 'Serie', 'b.serie') }}
        </th>
        <th{% if pagination.isSorted('b.serieIndex') %} class="sorted"{% endif %}  style="width: 15%">
            {{ knp_pagination_sortable(pagination, 'Serie Index', 'b.serieIndex') }}
        </th>
        <th style="width:90px"></th>
        <th style="width:35px"></th>
        <th style="width:35px"></th>
    </tr>

    {% for book in pagination %}
        <tr>
            <td>
                {% if book.imageFilename is not null %}
                <img class="w-100" src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}" />
                {% endif %}
            </td>
            <td colspan="4">
                <div>
                {{ component('InlineEditBook', {'book':book, 'field':'title'}) }}
                </div>
                <div>
                {{ component('InlineEditBook', {'book':book, 'field':'mainAuthor'}) }}
                </div>
                <div>
                {{ component('InlineEditBook', {'book':book, 'field':'serie'}) }}

                {{ component('InlineEditBook', {'book':book, 'field':'serieIndex'}) }}
                </div>
            </td>
            <td>
                {% include 'book/_interaction.html.twig' %}
            </td>
            <td>
                {% if not book.verified %}
                    {{ component('InlineEditBook',{'book':book, 'field':'verified'}) }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_book', {'authorSlug':book.authorSlug,'book':book.id, 'slug':book.slug}) }}">
                    <i class="bi bi-book"></i>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>