{# @var book App\Entity\Book #}
<div class="row">
    <div class="col-1">
        {% if book.imageFilename is not null %}
            <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}" class="w-50 m-auto d-block" alt="Picture for {{ book.title }}">
        {% else %}
            <img src="{{ asset('images/blank.jpg')|imagine_filter('thumb') }}" class="w-50 m-auto d-block" alt="No picture for {{ book.title }}">
        {% endif %}
    </div>
    <div class="col-11">
        <a href="{{ path('app_book', {'book':book.id, 'slug':book.slug}) }}">
            {{ book.title }}
        </a>

        <span class="text-muted">
            by
            {% for author in book.authors %}
                <a href="{{ path('app_authors_detail',{'slug':author}) }}" class="text-muted">
                    {{ author }}
                </a>
            {% endfor %}
        </span>


        {% if book.serie %}
            <a href="{{ path('app_serie_detail',{'slug':book.serieSlug}) }}" class="text-muted small d-block">
                {{ book.serie }} ({{ book.serieIndex }})
            </a>
        {% endif %}
    </div>

</div>
