{# @var book App\Entity\Book #}
{% set read = false %}
{% for interaction in book.bookInteractions %}
    {% if interaction.user.id == app.user.id and interaction.finished %}
        {% set read = true %}
    {% endif %}
{% endfor %}
<div class=" m-1 mb-4" style="{{ read?'opacity:0.4;' }}">
    <a href="{{ path('app_book',{'slug':book.slug,'book':book.id}) }}" class=" small">
    <div class="book">
        <div class="book__cover" style="background-image:url('{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}');">
            <div class="book__detail">
                {{ book.title }}
            </div>
        </div>
        <div class="book__page"></div>
    </div>
    </a>
    <div class="small text-muted">
        {% for author in book.authors %}
            <a href="{{ filter_book_url({'authors':[author]}) }}" class="text-muted text-decoration-none p-1">
                <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
            </a>
        {% endfor %}

        {% if book.serie %}
            <br>
            <i class="bi bi-list-ol"></i> <a href="{{ filter_book_url({'serie':book.serie}) }}" class="text-muted text-decoration-none">
            {{ book.serie }} ({{ book.serieIndex }})
        </a>
        {% endif %}
        {% if not book.verified %}
            {{ component('InlineEditBook', {'book':book, 'field':'verified', suggestions:[]}) }}
        {% endif %}
    </div>
    <div class="text-center">
        {{ include('book/_interaction.html.twig') }}

    </div>
</div>