{# @var book App\Entity\Book #}
{% set read = false %}
{% for interaction in book.bookInteractions|default([]) %}
    {% if interaction.user.id == app.user.id and interaction.finished %}
        {% set read = true %}
    {% endif %}
{% endfor %}

{% set hidden = false %}
{% for interaction in book.bookInteractions|default([]) %}
    {% if interaction.user.id == app.user.id and interaction.hidden %}
        {% set hidden = true %}
    {% endif %}
{% endfor %}

{% if book.extension in ['epub','mobi'] %}
    {% set icon='bi-file-text-fill' %}
{% elseif book.extension=='pdf' %}
    {% set icon='bi-file-pdf-fill' %}
{% elseif book.extension in ['cbr','cbz'] %}
    {% set icon='bi-file-image-fill' %}
{% else %}
    {% set icon='bi-file-binary-fill' %}
{% endif %}
<div class=" m-1 mb-4">
    <a href="{{ path('app_book',{'slug':book.slug,'book':book.id}) }}" class=" small">
    <div class="book {{ read?'border border-success border-5':'' }}" style="{{ read?'opacity:0.6;' }}{{ hidden?'opacity:0.3;' }}">
        <div class="book__cover">
            {% if book.imageFilename is not null %}
                <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}"  alt="{{ book.title }}"/>
            {% else %}
                <img src="{{ asset('images/blank.jpg')|imagine_filter('thumb') }}" />
            {% endif %}
            <div class="book__detail">
                {% if read %}
                    <i class="bi bi-check-square-fill"></i> Finished !
                {% endif %}
                <i class="bi {{ icon }}"></i> {{ book.title }} -
                {% for author in book.authors %}
                    <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                {% endfor %}

                {% if book.serie %}
                    <i class="bi bi-list-ol"></i>
                    {{ book.serie }} {% if book.serieIndex >=1 %}({{ book.serieIndex }}){% endif %}

                {% endif %}
            </div>
        </div>
        <div class="book__page"></div>
    </div>
    </a>
</div>