{# @var book App\Entity\Book #}
<div class=" m-1 mb-4">
    <a href="{{ path('app_book',{'slug':book.slug,'authorSlug':book.authorSlug,'book':book.id}) }}" class=" small">
    <div class="book">
        <div class="book__cover" style="background-image:url('{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}');">
            <div class="book__detail">
                {{ book.title }}
            </div>
        </div>
        <div class="book__page"></div>
    </div>
    </a>
    {{ include('book/_interaction.html.twig') }}
    <div class="small text-muted">
        <i class="fa-solid fa-user"></i> <a href="{{ path('app_author_detail',{'slug':book.authorSlug}) }}" class="text-muted">
            {{ book.mainAuthor }}
        </a>
        {% if book.serie %}
            <br>
            <i class="fa-solid fa-hashtag"></i> <a href="{{ path('app_series_detail',{'slug':book.serieSlug}) }}" class="text-muted">
            {{ book.serie }} ({{ book.serieIndex }})
        </a>
        {% endif %}
    </div>
</div>