{# @var book App\Entity\Book #}
{# @var interaction App\Entity\BookInteraction #}
{% if withDetail is not defined %}
{% set withDetail = true %}
{% endif %}

{% set interaction = book.lastInteraction(app.user) %}

{% if book.extension in ['epub','mobi'] %}
    {% set icon='bi-file-text-fill' %}
{% elseif book.extension=='pdf' %}
    {% set icon='bi-file-pdf-fill' %}
{% elseif book.extension in ['cbr','cbz'] %}
    {% set icon='bi-file-image-fill' %}
{% else %}
    {% set icon='bi-file-binary-fill' %}
{% endif %}
<div class=" m-1 {{ withDetail?'mb-4' }}">
    <a href="{{ path('app_book',{'slug':book.slug,'book':book.id}) }}" class=" small">
        {% include 'book/_cover.html.twig' with {book: book, interaction: interaction} %}
    </a>
    {% if withDetail %}
        <small>
            <strong>{{ book.title }}</strong><br />
            {% if book.serie %}
                <a href="{{ filter_book_url({'serie': book.serie}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-list-ol"></i>&nbsp;
                    {{ book.serie }} {% if book.serieIndex >=1 %}({{ book.serieIndex }}){% endif %}
                </a><br />
            {% endif %}

            {% for author in book.authors %}
                <a href="{{ filter_book_url({'authors': author}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                </a>
            {% endfor %}
            {% if interaction is not null and interaction.rating > 0 %}
                {% for current in 1..interaction.rating %}
                    <i class="bi bi-star-fill"></i>
                {% endfor %}
            {% endif %}
        </small>
    {% endif %}
</div>