{% extends 'base.html.twig' %}

{% block title %}{{ book.authors|first }} {% if book.serie is not null %}> {{ book.serie }} #{{ book.serieIndex }} {% endif %}> {{ book.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}"><i class="bi bi-file-earmark-arrow-down"></i> {{ 'download'|trans }} {{ book.extension }}</a>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a class="nav-link disabled" aria-disabled="true">Read in browser</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-6">
            {% if book.imageFilename is not null %}
                <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" class="border rounded card-img-top w-100" alt="{{ 'picture.for'|trans }} {{ book.title }}">
            {% else %}
                <img src="{{ asset('images/blank.jpg')|imagine_filter('big') }}" class="card-img-top w-100" alt="{{ 'no.picture.for'|trans }} {{ book.title }}">
            {% endif %}
            {{ include('book/_interaction.html.twig') }}

            {% if not book.verified %}
            {{ component('UploadBookPicture',{'book':book}) }}
            {% endif %}
            {{ component('AddBookToShelf',{'book':book, 'user':app.user}) }}
        </div>
        <div class="col-md-9">
            <table class="table w-100  mb-5">
                <tr>
                    <th style="width:15%;">{{ 'title'|trans }}</th>
                    <td>
                        {{ component('InlineEditBook', {'book':book, 'field':'title', suggestions:suggestions}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'authors'|trans }}</th>
                    <td>{{ component('InlineEditBook', {'book':book, 'field':'authors',  suggestions:suggestions}) }}</td>
                </tr>
                <tr>
                    <th>{{ 'summary'|trans }}</th><td>
                        {{ component('InlineEditBook', {'book':book, 'field':'summary', suggestions:suggestions}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'serie'|trans }}</th><td>
                        <div>
                            {{ component('InlineEditBook', {'book':book, 'field':'serie', suggestions:suggestions}) }}
                        </div>
                        {% if book.serie is not null %}
                            <div class="w-25 d-inline-block">
                                {{ component('InlineEditBook', {'book':book, 'field':'serieIndex', suggestions:suggestions}) }}
                            </div>
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th>{{ 'publisher'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'publisher', suggestions:suggestions}) }}</td>
                </tr>

                <tr>
                    <th>{{ 'Age'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'ageCategory'}) }}</td>
                </tr>

                <tr>
                    <th>{{ 'tags'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'tags', suggestions:suggestions}) }}</td>
                </tr>
                {% if not book.verified %}
                    <tr>
                        <th>Paths</th>
                        <td>
                            <ul class="small m-0">
                                <li>{{ 'book'|trans }}: <code>{{ book.bookPath }}{{ book.bookFilename }}</code></li>
                                <li>{{ 'image'|trans }}: <code>{{ book.imagePath }}{{ book.imageFilename }}</code></li>
                                {% if not book.verified and needsRelocation %}
                                    <li class="text-danger">Calculated path: <code>{{ calculatedPath }}</code>
                                        <a href="{{ path('app_book_relocate', {'id':book.id}) }}" class="btn btn-sm btn-outline-danger">Relocate</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Utilities</th>
                        <td>
                            <ul class="small m-0">
                                <li>
                                    <a target="_blank" href="https://www.google.com/search?q={{ book.title~" "~book.serie~" "~book.authors|join(" ")|url_encode }}&tbm=isch&source=lnms&sa=X&dpr=1">{{ 'search.google.images'|trans }}</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.goodreads.com/search?q={{ book.title~" "~book.serie~" "~book.authors|join(" ")|url_encode }}">{{ 'search.goodreads'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_book', {'book':book.id, 'slug':book.slug, 'suggestions':true}) }}">{{ 'Get suggestions'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_extractCover', {'id':book.id}) }}">{{ 'extract.from-file'|trans }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'verified'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'verified', suggestions:suggestions}) }}</td>
                </tr>


            </table>

            {% if not book.verified and is_granted('EDIT', book) %}
            <div class="row">

                {% if suggestions.image|length >0 %}
                <div class="col-md-12">
                    <h5>{{ 'suggested.images'|trans }}</h5>
                </div>
                {% for key, image in suggestions.image %}
                    <div class="col-md-2">
                        <a href="{{ path('app_book_downloadImage', {'id':book.id, 'image':key }) }}">
                            <img src="{{ image }}" class="w-100">
                        </a>
                    </div>
                {% endfor %}
                {% endif %}


            </div>
            {% endif %}
            {% if serie|length > 0 %}
                {% if serieMax>=1 %}
                    <h5>{{ 'books.in.serie'|trans }}</h5>
                    <div class="row">
                        {% for index in 1..serieMax %}
                            <div class="col-4 col-md-2">
                                {% if (serie[index] is not defined or serie[index]|length>1) %}
                                    <span class="badge text-bg-warning"><i class="bi bi-exclamation-diamond-fill"></i>
                                    {% if (serie[index] is not defined) %}Missing book{% endif %}
                                    {% if (serie[index] is defined and serie[index]|length>1) %}{{ 'books.same.index'|trans }}{% endif %}
                                    </span>
                                {% endif %}
                                {% if serie[index] is defined %}
                                    {% for indexBook in serie[index] %}
                                            {% include 'book/_teaser.html.twig' with {book:indexBook} %}
                                    {% endfor %}
                                {% else %}
                                        {% include 'book/_empty.html.twig' with {serie:book.serie, index:index} %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if serie['?'] is defined %}
                    <h5>{{ 'other.books'|trans }}</h5>
                    <div class="row">
                        {% for indexBook in serie['?'] %}
                            <div class="col-4 col-md-2">
                                {% include 'book/_teaser.html.twig' with {book:indexBook} %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% if sameAuthor is not empty %}
                <h5>{{ 'books.same.author'|trans }}</h5>
                <div class="row">
                    {% for indexBook in sameAuthor %}
                        <div class="col-4 col-md-2">
                            {% include 'book/_teaser.html.twig' with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mt-3">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
