{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if book.imageFilename is not null %}
                <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" class="card-img-top w-100" alt="Picture for {{ book.title }}">
            {% else %}
                <img src="{{ asset('images/blank.jpg')|imagine_filter('big') }}" class="card-img-top w-100" alt="No picture for {{ book.title }}">
            {% endif %}
            {{ include('book/_interaction.html.twig') }}

            {{ component('UploadBookPicture',{'book':book}) }}

            {{ component('AddBookToShelf',{'book':book, 'user':app.user}) }}
        </div>
        <div class="col-md-9">
            <table class="table table-striped w-100">
                <tr>
                    <th style="width: 150px">Download</th>
                    <td>
                        <a target="_blank" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}"><i class="bi bi-file-earmark-arrow-down"></i> Download {{ book.extension }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>
                        {{ component('InlineEditBook', {'book':book, 'field':'title', inline: true, suggestions:suggestions}) }}
                    </td>
                </tr>
                <tr>
                    <th>Authors</th>
                    <td>{{ component('InlineEditBook', {'book':book, 'field':'authors', inline: false, suggestions:suggestions}) }}</td>
                </tr>
                <tr>
                    <th>Summary</th><td>
                        {{ component('InlineEditBook', {'book':book, 'field':'summary', inline: true, suggestions:suggestions}) }}
                    </td>
                </tr>
                <tr>
                    <th>Serie</th><td>
                        <div>
                            {{ component('InlineEditBook', {'book':book, 'field':'serie', inline: true, suggestions:suggestions}) }}
                            {% if book.serie is not null %}
                                <a href="{{ filter_book_url({'serie':book.serie}) }}"><i class="bi bi-box-arrow-right"></i></a>
                            {% endif %}
                        </div>
                        {% if book.serie is not null %}
                            <div class="w-25 d-inline-block">
                                {{ component('InlineEditBook', {'book':book, 'field':'serieIndex', inline: true, suggestions:suggestions}) }}
                            </div>
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th>Publisher</th><td>{{ component('InlineEditBook', {'book':book, 'field':'publisher', inline: true, suggestions:suggestions}) }}</td>
                </tr>

                <tr>
                    <th>Tags</th><td>{{ component('InlineEditBook', {'book':book, 'field':'tags', inline: false, suggestions:suggestions}) }}</td>
                </tr>
                <tr>
                    <th>Publishdate</th><td>
                        {% if book.publishDate is not null %}
                        {{ book.publishDate|date('d.m.Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Verified</th><td>{{ component('InlineEditBook', {'book':book, 'field':'verified', inline: true, suggestions:suggestions}) }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul class="small">
                            <li>Book: <code>{{ book.bookPath }}{{ book.bookFilename }}</code></li>
                            <li>Image: <code>{{ book.imagePath }}{{ book.imageFilename }}</code></li>
                        </ul>
                    </td>
                </tr>

            </table>

            {% if not book.verified %}
            <div class="row">

                {% if suggestions.image|length >0 %}
                <div class="col-md-12">
                    <h5>Suggested images</h5>
                </div>
                {% for key, image in suggestions.image %}
                    <div class="col-md-2">
                        <a href="{{ path('app_book_downloadImage', {'id':book.id, 'image':key }) }}">
                            <img src="{{ image }}" class="w-100">
                        </a>
                    </div>
                {% endfor %}
                {% endif %}

                <a target="_blank" href="https://www.google.com/search?q={{ book.title~" "~book.authors|join(" ")|url_encode }}&tbm=isch&source=lnms&sa=X&dpr=1">Search cover on google images</a>
                <a href="{{ path('app_book', {'book':book.id, 'slug':book.slug, 'refresh':true}) }}">Get Suggestions from Books API</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
</div>

{% endblock %}
