{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ book.authors|first }} {% if book.serie is not null %} <i class="bi bi-chevron-right mx-2"></i> {{ book.serie }} #{{ book.serieIndex }} {% endif %} <i class="bi bi-chevron-right mx-2"></i> {{ book.title }}{% endblock %}

{% block body %}
    <div class="hero">
        {% if book.imageFilename is not null %}
            {% set image = asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') %}
            {% set altText = 'book.picture-for-book'|trans %}
        {% else %}
            {% set image = asset('images/blank.jpg')|imagine_filter('big') %}
            {% set altText = 'book.no-picture-for'|trans %}
        {% endif %}

        <div class="hero__background" style="--hero-background-image: url('{{ image }}')"></div>

        <div class="hero__image">
            <div style="position: relative;">
                <img src="{{ image }}" class="hero__image__image" alt="{{ altText }} {{ book.title }}">

                {% if not book.verified and is_granted('EDIT', book) %}
                <div class="hero__image__actions">
                    <div>
                        <a target="_blank" class="btn btn-sm btn-primary" href="https://www.google.com/search?q={{ book.title~" "~book.serie~" "~book.authors|join(" ")|url_encode }}&tbm=isch&source=lnms&sa=X&dpr=1">
                        <i class="bi bi-search"></i><br />
                        {{ 'book.search-google-images'|trans }}
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-primary" href="{{ path('app_extractCover', {'id':book.id}) }}">
                            <i class="bi bi-image"></i><br />
                            {{ 'book.extract-cover-from-file'|trans }}
                        </a>
                    </div>
                    <div>
                        {{ component('UploadBookPicture',{'book':book}) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="hero__title">
            <h1>{{ book.title }}</h1>
            {% if book.serie %}
            <div class="hero__subtitle">
                <a href="{{ filter_book_url({'serie': book.serie}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-list-ol"></i>&nbsp;{{ book.serie }}
                </a>
                {% if book.serie is not null %}
                <span class="text-secondary">#{{ book.serieIndex }}<span>
                {% endif %}
            </div>
            {% endif %}

            <div class="hero__subtitle">
                {% for author in book.authors %}
                    <a href="{{ filter_book_url({'authors': author}) }}" class="text-decoration-none text-secondary">
                        <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="hero__stats">
            <div>
                {% set readStatus = interaction.readStatus|default( enum('App\\Enum\\ReadStatus').NotStarted)  %}
                <i class="bi bi-{{ enum('App\\Enum\\ReadStatus').getIcon(readStatus)  }}"></i>
                {{ enum('App\\Enum\\ReadStatus').getLabel(readStatus)|trans }}
            </div>

            <div>
                {% set listStatus = interaction.readingList|default( enum('App\\Enum\\ReadingList').NotDefined)  %}
                <i class="bi bi-{{ enum('App\\Enum\\ReadingList').getIcon(listStatus)  }}"></i>
                {{ enum('App\\Enum\\ReadingList').getLabel(listStatus)|trans }}
            </div>

             {% if interaction is not null and interaction.rating >0 %}
            <div>
                {% include themedTemplate('components/_rating.html.twig') with {rating: interaction.rating} %}
            </div>
            {% endif %}
        </div>

        <div class="hero__progress">
            <div class="heroProgress">
                {% set width = 0 %}
                {% if interaction is not null and interaction.readPages >0 %}
                    {% set width = ((interaction.readPages/book.pageNumber) *100) %}

                    {% if interaction.readPages > 0 %}
                    <div class="heroProgress__text">
                    {{ 'books.reading.progress'|trans({"%read%": interaction.readPages, "%total%": book.pageNumber }) }}
                    </div>
                    {% endif %}
                {% endif %}
                <div class="heroProgress__bar">
                    <div class="heroProgress__bar__progress" style="width: {{ width }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; gap: var(--space--md); flex-direction: column;">

        {% set showInfo = (book.tags or book.publisher or book.ageCategory is not null or book.language) %}

        <div class="BookDetails {{ showInfo ? 'BookDetails--withInfo' : '' }}">

            <div class="BookDetails__actions Card Card--emphasis">
                <div class="Card__content">
                    <div style="display: grid; gap: var(--space--sm); margin-bottom: var(--space--md);">
                        {{ component('InlineEditInteraction',{'book':book, 'buttonWithText': true}) }}

                        <a class="btn btn-block btn-primary" href="{{ path('app_book_read',{'book':book.id,'slug':book.slug}) }}">
                            <i class="bi bi-book"></i>
                            {{ 'book.read-in-browser'|trans }}
                        </a>

                        <a class="btn btn-block btn-secondary" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}">
                            <i class="bi bi-file-earmark-arrow-down"></i> {{ 'book.download'|trans }} {{ book.extension }}
                        </a>

                        {% if is_granted('EDIT',book) %}
                        <div style="display: flex; gap: var(--space--md); align-items: center;">
                            {{ component('Assistant', {book: book}) }}
                            {{ component('InlineEditVerified',{'book':book}) }}
                        </div>
                        {% endif %}
                    </div>

                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <details>
                            <summary>{{ "book.delete-book"|trans }}</summary>
                            <div class="alert alert-danger">
                                {{ "book.this-action-is-irreversible"|trans }}
                            </div>
                            {{ form(form) }}

                        </details>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="BookDetails__summary Card">
                <div class="Card__content">

                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ 'book.summary'|trans }}</h4>
                        {% if book.summary %}
                            {{ book.summary|default('')|markdown_to_html }}
                        {% endif %}
                    </div>

                    {% if not book.verified and is_granted('EDIT', book) %}
                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ "book.paths"|trans }}</h4>
                        <ul class="list-unstyled m-0">
                            <li style="font-size: var(--font-size--sm);">
                                {{ 'book.book-path'|trans }}:<br />
                                <code>{{ book.bookPath }}{{ book.bookFilename }}</code>
                            </li>
                            {% if not book.verified and needsRelocation %}
                                <li style="font-size: var(--font-size--sm);" class="text-danger">
                                    Calculated path: <br />
                                    <code>{{ calculatedPath }}</code><br />
                                    {% if is_granted('RELOCATE', book) %}
                                    <a href="{{ path('app_book_relocate', {'id':book.id}) }}" class="btn btn-sm btn-outline-danger">Relocate</a>
                                    {% endif %}

                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if showInfo %}
            <div class="BookDetails__info Card">
                <div class="Card__content">
                    {% if book.tags %}
                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ 'book.tags'|trans }}</h4>
                        <ul class="BookDetails__item__content">
                        {% for tag in book.tags %}
                        <li>
                            <a href="{{ filter_book_url({'tag': tag}) }}" class="text-decoration-none text-secondary">
                                <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if book.publisher %}
                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ 'book.publisher'|trans }}</h4>
                        <div class="BookDetails__item__content">
                            <a href="{{ filter_book_url({'publisher':book.publisher}) }}" class="text-decoration-none text-secondary">
                                {{ book.publisher }}
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    {% if book.ageCategory is not null %}
                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ 'book.age-category'|trans }}</h4>

                        <div class="BookDetails__item__content">
                            {% set ageCategory = enum("App\\Enum\\AgeCategory").getLabel(book.ageCategory)|default("enum.agecategories.notset") %}
                            <a href="{{ filter_book_url({'age':ageCategory}) }}" class="text-decoration-none text-secondary">
                                {{ ageCategory|trans }}
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    {% if book.language %}
                    <div class="BookDetails__item">
                        <h4 class="Heading BookDetails__item__title">{{ 'book.language'|trans }}</h4>
                        <div class="BookDetails__item__content">
                            {{ book.language|locale_name }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if serie|length > 0 %}
        <div class="Card">
            {% if serieMax>=1 %}
            <div class="Card__title">
                <h5 class="Heading">{{ 'books.in-serie'|trans }}</h5>
            </div>
            <div class="Card__content">
                <div class="bookGrid">
                    {% for index in 1..serieMax %}
                        <div class="bookGrid__item">
                            {% if serie[index] is defined %}
                                {% for indexBook in serie[index] %}
                                        {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                                {% endfor %}
                            {% else %}
                                {% include themedTemplate('book/_empty.html.twig') with {serie:book.serie, index:index} %}
                            {% endif %}
                            {% if (serie[index] is defined and serie[index]|length>1) %}
                                <span class="badge text-bg-warning"><i class="bi bi-exclamation-diamond-fill"></i>
                                {% if (serie[index] is defined and serie[index]|length>1) %}{{ 'books.same-index'|trans }}{% endif %}
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if serie['?'] is defined %}
            <div class="Card__title">
                <h5 class="Heading">{{ 'books.other-books'|trans }}</h5>
            </div>
            <div class="Card__content">
                <div class="bookGrid">
                    {% for indexBook in serie['?'] %}
                        <div class="bookGrid__item">
                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if similar is not empty %}

            <div class="Card">
                <div class="Card__title">
                    <h5 class="Heading">{{ "book.similar"|trans }}</h5>
                </div>
                <div class="Card__content">
                    <div class="bookGrid">
                        {% for indexBook in similar %}
                            <div class="bookGrid__item">
                                {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
