{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if book.imageFilename is not null %}
                <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" class="card-img-top w-100" alt="Picture for {{ book.title }}">
            {% else %}
                <img src="{{ asset('images/blank.jpg')|imagine_filter('big') }}" class="card-img-top w-100" alt="No picture for {{ book.title }}">
            {% endif %}
            {{ include('book/_interaction.html.twig') }}

            {{ component('UploadBookPicture',{'book':book}) }}

            {{ component('AddBookToShelf',{'book':book, 'user':app.user}) }}
        </div>
        <div class="col-md-9">
            <table class="table table-striped w-100">
                <tr>
                    <th>Download</th>
                    <td>
                        <a target="_blank" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}"><i class="bi bi-file-earmark-arrow-down"></i> Download {{ book.extension }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>
                        {{ component('InlineEditBook', {'book':book, 'field':'title', inline: true}) }}
                    </td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>
                        <a href="{{ path('app_mainAuthor_detail', {'slug':book.authorSlug}) }}"><i class="bi bi-box-arrow-right"></i></a>
                        {{ component('InlineEditBook', {'book':book, 'field':'mainAuthor'}) }}
                    </td>
                </tr>
                <tr>
                    <th>Summary</th><td>{{ book.summary }}</td>
                </tr>
                <tr>
                    <th>Serie</th><td>
                        <div class="w-75 d-inline-block">
                            {% if book.serie is not null %}
                                <a href="{{ path('app_serie_detail', {'slug':book.serieSlug}) }}"><i class="bi bi-box-arrow-right"></i></a>
                            {% endif %}
                            {{ component('InlineEditBook', {'book':book, 'field':'serie', inline: true}) }}
                        </div>
                        <div class="w-25 d-inline-block">
                            {{ component('InlineEditBook', {'book':book, 'field':'serieIndex', inline: true}) }}
                        </div>

                    </td>
                </tr>
                <tr>
                    <th>Publisher</th><td>{{ component('InlineEditBook', {'book':book, 'field':'publisher', inline: true}) }}</td>
                </tr>
                <tr>
                    <th>Publishdate</th><td>
                        {% if book.publishDate is not null %}
                        {{ book.publishDate|date('d.m.Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Verified</th><td>{{ component('InlineEditBook', {'book':book, 'field':'verified', inline: true}) }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
