{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ book.authors|first }} {% if book.serie is not null %} <i class="bi bi-chevron-right mx-2"></i> {{ book.serie }} #{{ book.serieIndex }} {% endif %} <i class="bi bi-chevron-right mx-2"></i> {{ book.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="d-grid gap-2">
                {% if book.imageFilename is not null %}
                    <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" class="border rounded card-img-top w-100" alt="{{ 'book.picture-for-book'|trans }} {{ book.title }}">
                {% else %}
                    <img src="{{ asset('images/blank.jpg')|imagine_filter('big') }}" class="card-img-top w-100" alt="{{ 'book.no-picture-for'|trans }} {{ book.title }}">
                {% endif %}

                {{ component('InlineEditInteraction',{'book':book, 'buttonWithText': true}) }}

                <a class="btn btn-block btn-primary" href="{{ path('app_book_read',{'book':book.id,'slug':book.slug}) }}">
                    <i class="bi bi-book"></i>
                    {{ 'book.read-in-browser'|trans }}
                </a>

                <a class="btn btn-block btn-secondary" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}">
                    <i class="bi bi-file-earmark-arrow-down"></i> {{ 'book.download'|trans }} {{ book.extension }}
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table w-100  mb-5">
                <tr>
                    <th style="width:15%;">{{ 'book.title'|trans }}</th>
                    <td>
                        {{ component('InlineEditBook', {'book':book, 'field':'title'}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.read-state'|trans }}</th>
                    <td>
                        {{ enum('App\\Enum\\ReadStatus').getLabel(interaction.readStatus|default( enum('App\\Enum\\ReadStatus').NotStarted))|trans }}

                        {% if interaction is not null and interaction.readPages >0 %}
                            <div class="progress">
                                <div class="progress-bar" style="width: {{ (interaction.readPages/book.pageNumber) *100 }}%">
                                    {{ 'interaction.status.progress'|trans({"%read%": interaction.readPages, "%total%": book.pageNumber }) }}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.rating'|trans }}</th>
                    <td>
                        {% if interaction is not null and interaction.rating >0 %}
                            {% include themedTemplate('components/_rating.html.twig') with {rating: interaction.rating} %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.readinglist-state'|trans }}</th>
                    <td>
                        {{ enum('App\\Enum\\ReadingList').getLabel(interaction.readingList|default( enum('App\\Enum\\ReadingList').NotDefined))|trans }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.authors'|trans }}</th>
                    <td>{{ component('InlineEditBook', {'book':book, 'field':'authors'}) }}</td>
                </tr>
                <tr>
                    <th>{{ 'book.summary'|trans }}</th><td>
                        {{ component('InlineEditBook', {'book':book, 'field':'summary'}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.serie'|trans }}</th><td>
                        <div>
                            {{ component('InlineEditBook', {'book':book, 'field':'serie'}) }}
                        </div>
                        {% if book.serie is not null %}
                            <div class="w-25 d-inline-block">
                                {{ component('InlineEditBook', {'book':book, 'field':'serieIndex'}) }}
                            </div>
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.publisher'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'publisher'}) }}</td>
                </tr>

                <tr>
                    <th>{{ 'book.age-category'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'ageCategory'}) }}</td>
                </tr>

                <tr>
                    <th>{{ 'book.tags'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'tags'}) }}</td>
                </tr>
                <tr>
                    <th>{{ 'book.language'|trans }}</th><td>{{ component('InlineEditBook', {'book':book, 'field':'language'}) }}</td>
                </tr>
                {% if not book.verified %}

                    <tr>
                        <th>Utilities</th>
                        <td>
                            <ul class="small m-0">
                                <li>
                                    <a target="_blank" href="https://www.google.com/search?q={{ book.title~" "~book.serie~" "~book.authors|join(" ")|url_encode }}&tbm=isch&source=lnms&sa=X&dpr=1">{{ 'book.search-google-images'|trans }}</a>
                                </li>
                                {% if is_granted('USE_AI_FEATURES',enum('App\\Ai\\Communicator\\AiAction').Tags ) %}
                                <li>
                                    {{ component('AiSuggestion', {book: book, field:'tags'}) }}
                                </li>
                                {% endif %}
                                {% if is_granted('USE_AI_FEATURES',enum('App\\Ai\\Communicator\\AiAction').Summary ) %}
                                <li>
                                    {{ component('AiSuggestion', {book: book, field:'summary'}) }}
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('app_extractCover', {'id':book.id}) }}">{{ 'book.extract-cover-from-file'|trans }}</a>
                                </li>
                                <li>
                                    {{ component('UploadBookPicture',{'book':book}) }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Paths</th>
                        <td>
                            <ul class="small m-0">
                                <li>{{ 'book.book-path'|trans }}: <code>{{ book.bookPath }}{{ book.bookFilename }}</code></li>
                                <li>{{ 'book.image-path'|trans }}: <code>{{ book.imagePath }}{{ book.imageFilename }}</code></li>
                                {% if not book.verified and needsRelocation %}
                                    <li class="text-danger">Calculated path: <br><code>{{ calculatedPath }}</code>
                                        {% if is_granted('RELOCATE', book) %}
                                        <a href="{{ path('app_book_relocate', {'id':book.id}) }}" class="btn btn-sm btn-outline-danger">Relocate</a>
                                        {% endif %}

                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}

                {% if app.debug %}
                <tr>
                    <th>{{ 'book.number-of-pages'|trans }}</th>
                    <td>
                        {{ component('InlineEditBook', {'book':book, 'field':'pageNumber'}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.uuid'|trans }}</th>
                    <td>{{ book.uuid }}</td>
                </tr>
                {% endif %}

                <tr>
                    <th>{{ 'book.verified'|trans }}</th>
                    <td>{{ component('InlineEditBook', {'book':book, 'field':'verified'}) }}</td>
                </tr>



            </table>

            {% if serie|length > 0 %}
                {% if serieMax>=1 %}
                    <h5>{{ 'books.in-serie'|trans }}</h5>
                    <div class="bookGrid">
                        {% for index in 1..serieMax %}
                            <div class="bookGrid__item">
                                {% if serie[index] is defined %}
                                    {% for indexBook in serie[index] %}
                                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                                    {% endfor %}
                                {% else %}
                                        {% include themedTemplate('book/_empty.html.twig') with {serie:book.serie, index:index} %}
                                {% endif %}
                                {% if (serie[index] is defined and serie[index]|length>1) %}
                                    <span class="badge text-bg-warning"><i class="bi bi-exclamation-diamond-fill"></i>
                                    {% if (serie[index] is defined and serie[index]|length>1) %}{{ 'books.same-index'|trans }}{% endif %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if serie['?'] is defined %}
                    <h5>{{ 'books.other-books'|trans }}</h5>
                    <div class="bookGrid">
                        {% for indexBook in serie['?'] %}
                            <div class="bookGrid__item">
                                {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% if sameAuthor is not empty %}
                <h5>{{ 'books.same-author'|trans }}</h5>
                <div class="bookGrid">
                    {% for indexBook in sameAuthor %}
                        <div class="bookGrid__item">
                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if sameTags is not empty %}
                {% for tag,bookTags in sameTags %}
                <h5>{{ tag }}</h5>
                <div class="bookGrid">
                    {% for indexBook in bookTags %}
                        <div class="bookGrid__item">
                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
                {%endfor%}
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <details>
            <summary>{{ "book.delete-book"|trans }}</summary>
            <div class="alert alert-danger">
                {{ "book.this-action-is-irreversible"|trans }}
            </div>
            {{ form(form) }}

        </details>
    </div>
    {% endif %}

{% endblock %}
