{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ book.authors|first }} {% if book.serie is not null %} <i class="bi bi-chevron-right mx-2"></i> {{ book.serie }} #{{ book.serieIndex }} {% endif %} <i class="bi bi-chevron-right mx-2"></i> {{ book.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-6">
            <div class="d-grid gap-2">
                {% if book.imageFilename is not null %}
                    <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('big') }}" class="border rounded card-img-top w-100" alt="{{ 'book.picture-for-book'|trans }} {{ book.title }}">
                {% else %}
                    <img src="{{ asset('images/blank.jpg')|imagine_filter('big') }}" class="card-img-top w-100" alt="{{ 'book.no-picture-for'|trans }} {{ book.title }}">
                {% endif %}

                {{ component('InlineEditInteraction',{'book':book, 'buttonWithText': true}) }}

                <a class="btn btn-block btn-primary" href="{{ path('app_book_read',{'book':book.id,'slug':book.slug}) }}">
                    <i class="bi bi-book"></i>
                    {{ 'book.read-in-browser'|trans }}
                </a>

                <a class="btn btn-block btn-secondary" href="{{ asset('books/'~book.bookPath~book.bookFilename) }}">
                    <i class="bi bi-file-earmark-arrow-down"></i> {{ 'book.download'|trans }} {{ book.extension }}
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-borderless w-100  mb-5">
                <tr>
                    <th style="width:20%">{{ 'book.title'|trans }}</th>
                    <td>
                        {{ book.title }}
                    </td>
                </tr>
                {% if interaction is not null and interaction.readPages >0 %}
                <tr>
                    <th>{{ 'book.read-state'|trans }}</th>
                    <td>
                        {{ enum('App\\Enum\\ReadStatus').getLabel(interaction.readStatus|default( enum('App\\Enum\\ReadStatus').NotStarted))|trans }}


                            <div class="progress">
                                <div class="progress-bar" style="width: {{ (interaction.readPages/book.pageNumber) *100 }}%">
                                    {{ 'interaction.status.progress'|trans({"%read%": interaction.readPages, "%total%": book.pageNumber }) }}
                                </div>
                            </div>

                    </td>
                </tr>
                {% endif %}
                {% if interaction is not null and interaction.rating >0 %}
                <tr>
                    <th>{{ 'book.rating'|trans }}</th>
                    <td>

                            {% include themedTemplate('components/_rating.html.twig') with {rating: interaction.rating} %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>{{ 'book.readinglist-state'|trans }}</th>
                    <td>
                        {{ enum('App\\Enum\\ReadingList').getLabel(interaction.readingList|default( enum('App\\Enum\\ReadingList').NotDefined))|trans }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'book.authors'|trans }}</th>
                    <td>
                        {% for author in book.authors %}
                            <a href="{{ filter_book_url({'authors': author}) }}" class="text-decoration-none text-secondary">
                                <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
                {% if book.summary %}
                <tr>
                    <th>{{ 'book.summary'|trans }}</th><td>
                        {{ book.summary|default('')|markdown_to_html }}
                    </td>
                </tr>
                {% endif %}
                {% if book.serie %}
                <tr>
                    <th>{{ 'book.serie'|trans }}</th><td>
                        <div>
                            <a href="{{ filter_book_url({'serie': book.serie}) }}" class="text-decoration-none text-secondary">
                                <i class="bi bi-list-ol"></i>&nbsp;{{ book.serie }}
                            </a>
                            {% if book.serie is not null %}
                            #{{ book.serieIndex }}
                            {% endif %}
                        </div>


                    </td>
                </tr>
                {% endif %}
                {% if book.publisher %}
                <tr>
                    <th>{{ 'book.publisher'|trans }}</th><td>{{ book.publisher }}</td>
                </tr>
                {% endif %}

                {% if book.ageCategory is not null %}
                <tr>
                    <th>{{ 'book.age-category'|trans }}</th><td>
                        {% if book.ageCategory is not null %}
                            {{ enum("App\\Enum\\AgeCategory").getLabel(book.ageCategory)|trans }}
                        {% else %}
                            {{ "enum.agecategories.notset"|trans }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}

                {% if book.tags %}
                <tr>
                    <th>{{ 'book.tags'|trans }}</th><td>
                        {% for tag in book.tags %}
                            <a href="{{ filter_book_url({'tag': tag}) }}" class="text-decoration-none text-secondary">
                                <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if book.language %}
                <tr>
                    <th>{{ 'book.language'|trans }}</th><td>{{ book.language }}</td>
                </tr>
                {% endif %}

                {% if not book.verified and is_granted('EDIT', book) %}

                    <tr>
                        <th>{{ "book.utilities"|trans }}</th>
                        <td>
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a target="_blank" class="btn btn-link p-0" href="https://www.google.com/search?q={{ book.title~" "~book.serie~" "~book.authors|join(" ")|url_encode }}&tbm=isch&source=lnms&sa=X&dpr=1">{{ 'book.search-google-images'|trans }}</a>
                                </li>
                                <li>
                                    <a class="btn btn-link p-0" href="{{ path('app_extractCover', {'id':book.id}) }}">{{ 'book.extract-cover-from-file'|trans }}</a>
                                </li>
                                <li>
                                    {{ component('UploadBookPicture',{'book':book}) }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ "book.paths"|trans }}</th>
                        <td>
                            <ul class="list-unstyled m-0">
                                <li>{{ 'book.book-path'|trans }}: <code>{{ book.bookPath }}{{ book.bookFilename }}</code></li>
                                <li>{{ 'book.image-path'|trans }}: <code>{{ book.imagePath }}{{ book.imageFilename }}</code></li>
                                {% if not book.verified and needsRelocation %}
                                    <li class="text-danger">Calculated path: <br><code>{{ calculatedPath }}</code>
                                        {% if is_granted('RELOCATE', book) %}
                                        <a href="{{ path('app_book_relocate', {'id':book.id}) }}" class="btn btn-sm btn-outline-danger">Relocate</a>
                                        {% endif %}

                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}

                {% if is_granted('EDIT',book) %}
                <tr>
                    <td>
                        {{ component('Assistant', {book: book}) }}
                    </td>
                    <td>
                        <div class="p-2">
                        {{ component('InlineEditVerified',{'book':book}) }}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </table>

            {% if serie|length > 0 %}
                {% if serieMax>=1 %}
                    <h5>{{ 'books.in-serie'|trans }}</h5>
                    <div class="bookGrid">
                        {% for index in 1..serieMax %}
                            <div class="bookGrid__item">
                                {% if serie[index] is defined %}
                                    {% for indexBook in serie[index] %}
                                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                                    {% endfor %}
                                {% else %}
                                        {% include themedTemplate('book/_empty.html.twig') with {serie:book.serie, index:index} %}
                                {% endif %}
                                {% if (serie[index] is defined and serie[index]|length>1) %}
                                    <span class="badge text-bg-warning"><i class="bi bi-exclamation-diamond-fill"></i>
                                    {% if (serie[index] is defined and serie[index]|length>1) %}{{ 'books.same-index'|trans }}{% endif %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if serie['?'] is defined %}
                    <h5>{{ 'books.other-books'|trans }}</h5>
                    <div class="bookGrid">
                        {% for indexBook in serie['?'] %}
                            <div class="bookGrid__item">
                                {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% if sameAuthor is not empty %}
                <h5>{{ 'books.same-author'|trans }}</h5>
                <div class="bookGrid">
                    {% for indexBook in sameAuthor %}
                        <div class="bookGrid__item">
                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if sameTags is not empty %}
                {% for tag,bookTags in sameTags %}
                <h5>{{ tag }}</h5>
                <div class="bookGrid">
                    {% for indexBook in bookTags %}
                        <div class="bookGrid__item">
                            {% include themedTemplate('book/_teaser.html.twig') with {book:indexBook} %}
                        </div>
                    {% endfor %}
                </div>
                {%endfor%}
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <details>
            <summary>{{ "book.delete-book"|trans }}</summary>
            <div class="alert alert-danger">
                {{ "book.this-action-is-irreversible"|trans }}
            </div>
            {{ form(form) }}

        </details>
    </div>
    {% endif %}

{% endblock %}
