{% extends 'bare.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form method="post" class="p-4">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {{ 'logged.in.as'|trans({}, 'security') }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans({}, 'security') }}</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{{ 'please.sign.in'|trans({}, 'security') }}</h1>
                    <label for="inputEmail">{{ 'email'|trans({}, 'security') }}</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">{{ 'password'|trans({}, 'security') }}</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> {{ 'remember.me'|trans({}, 'security') }}
                        </label>
                    </div>


                    <button class="btn btn-lg btn-primary" id="sign-in" type="submit">
                        {{ 'sign.in'|trans({}, 'security') }}
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}