{% extends 'base.html.twig' %}

{% block title %}{{ serie }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3 offset-md-1">
            <a href="{{ path('app_book', {'book':firstUnreadBook.id, 'slug':firstUnreadBook.slug}) }}">
            <img class="w-100"
                 src="{{ asset('covers/'~firstUnreadBook.imagePath~firstUnreadBook.imageFilename)|imagine_filter('big') }}"
                 alt="{{ firstUnreadBook.title }}"/>
            </a>
        </div>
        <div class="col-md-7 mt-5">
            <h1>{{ serie }}</h1>
            <h2 class="h4">{% for author in authors %}
                    <a href="{{ filter_book_url({'authors':[author]}) }}">{{ author }}</a>{% endfor %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-5">{{ 'books.in-serie'|trans }}</h3>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        {% for book in books %}
                            <tr>
                                <td style="width: 100px">
                                    {% include 'book/_teaser.html.twig' with {book: book, withDetail: false} %}
                                </td>
                                <td>
                                    <h4>{{ book.title }}</h4>
                                    <h5>{{ book.serie }} #{{ book.serieIndex }}</h5>
                                </td>
                                <td>
                                    {{ component('InlineEditInteraction', {book:book, user: app.user}) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
