{% extends 'base.html.twig' %}

{% block title %} {{ 'menu.series'|trans }} <i class="bi bi-chevron-right mx-2"></i> {{ serie }}{% endblock %}

{% block body %}

    <div class="hero">
        <div class="hero__background"></div>
        <div class="hero__image">
           <a href="{{ path('app_book', {'book':firstUnreadBook.id, 'slug':firstUnreadBook.slug}) }}">
            <img class="w-100"
                 src="{{ asset('covers/'~firstUnreadBook.imagePath~firstUnreadBook.imageFilename)|imagine_filter('big') }}"
                 alt="{{ firstUnreadBook.title }}"/>
            </a>
        </div>
        <div class="hero__title">
            <h1>{{ serie }}</h1>
            <div class="hero__subtitle">
            {% for author in authors %}
                <a href="{{ filter_book_url({'authors':[author]}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="hero__stats">
            <div>
                <i class="bi bi-play-circle-fill"></i> 
                {{ 'books.stat.progress'|trans({"%count%": inProgressBooks }) }}
            </div>
            <div>
                <i class="bi bi-check-circle-fill"></i>
                {{ 'books.stat.read'|trans({"%count%": readBooks }) }}
            </div>
            <div>
                <i class="bi bi-eye-slash-fill"></i>
                {{ 'books.stat.hidden'|trans({"%count%": hiddenBooks }) }}
            </div>
        </div>
        <div class="hero__progress">
            <div class="heroProgress">
                <div class="heroProgress__text">
                {{ 'books.reading.progress'|trans({"%read%": readBooks+hiddenBooks, "%total%": books|length }) }}
                </div>
                <div class="heroProgress__bar">
                    <div class="heroProgress__bar__progress" style="width: {{ ((readBooks+hiddenBooks)/books|length) *100 }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="booksWithDetails">
        <div class="booksWithDetails__content">
            {% if serieMax>=1 %}
            <h3>{{ 'books.in-serie'|trans }}</h3>
            <table class="table">
                <tbody>
                {% for index in 1..serieMax %}
                    {% if books[index] is defined %}
                        {% for book in books[index] %}
                            {% include 'book/_book-row.html.twig' with { book: book } %}
                        {% endfor %}
                    {% else %}
                        {% include 'book/_book-row-empty.html.twig' with { serie: serie, index: index } %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if books['?'] is defined %}
                <h5>{{ 'books.other-books'|trans }}</h5>
                <table class="table">
                <tbody>
                    {% for book in books['?'] %}
                        {% include 'book/_book-row.html.twig' with { book: book, index: "?" } %}
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
        </div>

        {% if tags|length > 0 or ageCategories|length > 0 or publishers|length > 0  %}
        <div class="booksWithDetails__info">
            <div class="infoBlock">
                {% if tags|length > 0  %}
                <h4>{{ 'author.tags'|trans }}</h4>
                <ul style="list-style-type: none; padding-left: 1rem;">
                {% for tag, books in tags %}
                    <li>
                        <a href="{{ filter_book_url({'tags':[tag]}) }}" class="text-decoration-none text-secondary">
                            <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}

                {% if ageCategories|length > 0  %}
                <h4>{{ 'book.age-category'|trans }}</h4>
                <ul style="list-style-type: none; padding-left: 1rem;">
                {% for ageCategory, books in ageCategories %}
                    <li>
                        <a href="{{ filter_book_url({'age':ageCategory}) }}" class="text-decoration-none text-secondary">
                            {{ ageCategory|trans }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}

                {% if publishers|length > 0  %}
                <h4>{{ 'book.publisher'|trans }}</h4>
                <ul style="list-style-type: none; padding-left: 1rem;">
                {% for publisher, books in publishers %}
                    <li>
                        <a href="{{ filter_book_url({'publisher':publisher}) }}" class="text-decoration-none text-secondary">
                            {{ publisher }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
