{% extends 'base.html.twig' %}

{% block title %} {{ 'menu.series'|trans }} <i class="bi bi-chevron-right mx-2"></i> {{ serie }}{% endblock %}

{% block body %}

    <div class="hero">
        {% if firstUnreadBook is not null %}
            {% set image = asset('covers/'~firstUnreadBook.imagePath~firstUnreadBook.imageFilename)|imagine_filter('big') %}
        {% else %}
            {% set image = asset('images/blank.jpg')|imagine_filter('big') %}
        {% endif %}

        <div class="hero__background" style="--hero-background-image: url('{{ image }}')"></div>
        <div class="hero__image">
           <a href="{{ path('app_book', {'book':firstUnreadBook.id, 'slug':firstUnreadBook.slug}) }}">
            <img class="w-100" src="{{ image }}" alt="{{ firstUnreadBook.title }}"/>
            </a>
        </div>
        <div class="hero__title">
            <h1>{{ serie }}</h1>
            <div class="hero__subtitle">
            {% for author in authors %}
                <a href="{{ filter_book_url({'authors':[author]}) }}" class="text-decoration-none text-secondary">
                    <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="hero__stats">
            <div>
                <i class="bi bi-play-circle-fill"></i> 
                {{ 'books.stat.progress'|trans({"%count%": inProgressBooks }) }}
            </div>
            <div>
                <i class="bi bi-check-circle-fill"></i>
                {{ 'books.stat.read'|trans({"%count%": readBooks }) }}
            </div>
            <div>
                <i class="bi bi-eye-slash-fill"></i>
                {{ 'books.stat.hidden'|trans({"%count%": hiddenBooks }) }}
            </div>
        </div>
        <div class="hero__progress">
            <div class="heroProgress">
                <div class="heroProgress__text">
                {{ 'books.reading.progress'|trans({"%read%": readBooks+hiddenBooks, "%total%": books|length }) }}
                </div>
                <div class="heroProgress__bar">
                    <div class="heroProgress__bar__progress" style="width: {{ ((readBooks+hiddenBooks)/books|length) *100 }}%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="BooksWithDetails">
        <div class="BooksWithDetails__content">
            <div class="Card">
            {% if serieMax>=1 %}
            <div class="Card__title">
                <h3 class="Heading Heading--lg">{{ 'books.in-serie'|trans }}</h3>
            </div>
            <div class="Card__content">
                <table class="Table">
                    <tbody>
                    {% for index in 1..serieMax %}
                        {% if books[index] is defined %}
                            {% for book in books[index] %}
                                {% include themedTemplate('book/_book-row.html.twig') with { book: book } %}
                            {% endfor %}
                        {% else %}
                            {% include themedTemplate('book/_book-row-empty.html.twig') with { serie: serie, index: index } %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if books['?'] is defined %}
            <div class="Card__title">
                <h5 class="Heading">{{ 'books.other-books'|trans }}</h5>
            </div>
            <div class="Card__content">
                <table class="Table">
                <tbody>
                    {% for book in books['?'] %}
                        {% include themedTemplate('book/_book-row.html.twig') with { book: book, index: "?" } %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}

            </div>
        </div>

        {% set showTags=(tags|length > 0) and app.user.isDisplayTags %}
        {% set showAgeCategories=(ageCategories|length > 0) %}
        {% set showPublishers=(publishers|length > 0) and app.user.isDisplayPublishers %}
        {% if showTags or showAgeCategories or showPublishers  %}
        <div class="BooksWithDetails__info">
            <div class="Card">
                <div class="Card__content">
                {% if showTags  %}
                <div class="BookDetails__item">
                    <h4 class="Heading BookDetails__item__title">{{ 'author.tags'|trans }}</h4>
                    <ul class="BookDetails__item__content">
                    {% for tag, books in tags %}
                        <li>
                            <a href="{{ filter_book_url({'tags':[tag]}) }}" class="text-decoration-none text-secondary">
                                <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if showAgeCategories  %}
                <div class="BookDetails__item">
                    <h4 class="Heading BookDetails__item__title">{{ 'book.age-category'|trans }}</h4>
                    <ul class="BookDetails__item__content">
                    {% for ageCategory, books in ageCategories %}
                        <li>
                            <a href="{{ filter_book_url({'age':ageCategory}) }}" class="text-decoration-none text-secondary">
                                {{ ageCategory|trans }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if showPublishers  %}
                <div class="BookDetails__item">
                    <h4 class="Heading BookDetails__item__title">{{ 'book.publisher'|trans }}</h4>
                    <ul class="BookDetails__item__content">
                    {% for publisher, books in publishers %}
                        <li>
                            <a href="{{ filter_book_url({'publisher':publisher}) }}" class="text-decoration-none text-secondary">
                                {{ publisher }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
