{% set previousRead = true %}
<div class="booksInGroup">
    {% for book in books %}
        {# @var book App\Entity\Book #}
        {% set read = false %}
        {% for interaction in book.bookInteractions %}
            {% if interaction.user.id == app.user.id and interaction.finished %}
                {% set read = true %}
            {% endif %}
        {% endfor %}


        {% if previousRead == true and read==false  %}
            {% set status = 'currentBook' %}
            {% set zindex = 9999 %}
        {% elseif previousRead == false  %}
            {% set status = 'nextBook' %}
            {% set zindex = 9998-book.serieIndex %}
        {% else  %}
            {% set status = 'previousBook' %}
            {% set zindex = book.serieIndex %}
        {% endif %}

        <div class="{{ status }} h-auto" style="left:{{ book.serieIndex *6 }}px; z-index: {{ zindex }}">
            <div class="book h-100">
                <div class="book__cover">
                    <img src="{{ asset('covers/'~book.imagePath~book.imageFilename)|imagine_filter('thumb') }}"  alt="{{ book.title }}"/>
                    <div class="book__detail">
                        {{ book.title }}
                    </div>
                </div>
                <div class="book__page"></div>
            </div>
        </div>
        {% set previousRead = read %}
    {% endfor %}
</div>
<style>
    .booksInGroup{
        width: 100%;
        height: 150px;
        position:relative;
    }
    .previousBook,.currentBook,.nextBook{
        width:auto;
        height: 150px !important;
        position:absolute;
    }
    .previousBook {
        opacity: 0.1;
    }
    .currentBook {
        z-index: 999;

    }
    .nextBook {
        opacity: 0.2;
    }

</style>