{% extends 'base.html.twig' %}

{% block title %}{{ pagination.getTotalItemCount }} {{ type }} - Page {{ page }}{% endblock %}

{% block body %}

    <div class="count">
        {{ pagination.getTotalItemCount }} {{ type }}
    </div>

    {{ knp_pagination_render(pagination) }}

    <ul class="list-group my-2">
        {% for item in pagination %}
            <li class="list-group-item">
                <a href="{{ path('app_'~type~'_detail',{slug:item.slug|default(item.item)|url_encode}) }}">
                {{ item.item }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(pagination) }}

{% endblock %}
