{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ pagination.getTotalItemCount }} {{ type }} - Page {{ page }}{% endblock %}

{% block body %}

    <div class="count">
        {{ pagination.getTotalItemCount }} {{ type }}
    </div>

    <form method="get" class="form-inline my-2">
        <div class="input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Filter" value="{{ search }}">
            <button type="submit" class="btn btn-primary">{{ 'search'|trans }}</button>
        </div>
    </form>

    {{ knp_pagination_render(pagination) }}
        <div class="row">
            {% for item in pagination %}
                {% set status = ((item.booksFinished/(item.bookCount+0.00001))*100)|round %}
                {% set class = status==100?'success':(status>0?'warning':'secondary') %}
                <div class="bg-{{ class }}-subtle col-md-4 p-2 border-3 border-{{ class }}">
                    {% set params = { (type): item.item } %}
                    <a href="{{ filter_book_url(params) }}" class="text-decoration-none">
                    {{ item.item }}
                        <span class="badge bg-{{ class }} rounded-pill">{{ item.booksFinished }}/{{ item.bookCount }}</span>
                    </a>
                    {{ component('InlineEditGroup', {'existingValue':item.item,'fieldValue':item.item, 'field':type}) }}
                </div>
            {% endfor %}
        </div>
    {{ knp_pagination_render(pagination) }}

{% endblock %}
