{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ type }} - {{ letter }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <nav class="list-group">
                {% for facet in facets %}

                    <a href="{{ path('app_groups', {'type':type, 'letter': facet.value}) }}" class="list-group-item list-group-item-action {{ facet.count<1?'disabled' }} {{ facet.value==letter?'active':'' }}">
                        {{ facet.value }}
                        {% if facet.count>0 %}
                        <span class="badge text-bg-secondary rounded-pill">{{ facet.count }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </nav>
        </div>
        <div class="col-md-9">
            <ul class="list-group">
                {% for item in results %}
                    <li class="list-group-item">
                        {% set params = { (type): item.name } %}
                        <a href="{{ filter_book_url(params) }}">
                            {% if type=='authors' %}
                                {% set icon='person-fill' %}
                            {% elseif type=='serie' %}
                                {% set icon='list-ol' %}
                            {% else %}
                                {% set icon='tag-fill' %}
                            {% endif %}
                            <i class="bi bi-{{ icon }}"></i> {{ item.name }}
                            <span class="badge text-bg-primary rounded-pill">{{ item.book_count }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock %}
