{% extends themedTemplate('bare.html.twig') %}
{% block content %}
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <div class="navbar-brand col-12 me-0 px-3 fs-6 text-white">
        <i class="bi bi-house-fill"></i> <a class="text-white d-inline-block mx-2" href="{{ path('app_dashboard') }}">Biblioteca</a>
        <i class="bi bi-chevron-right"></i><h1 class="h6 m-2 d-inline-block">{% block title %}{{ 'page'|trans }}{% endblock %}</h1>
    </div>

    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
            </button>
        </li>
    </ul>
</header>

<nav class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-3 col-lg-2 p-0">
            <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu"
                 aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

                    {{ knp_menu_render('main',{'currentClass':'active','ancestorClass':'active'}) }}

                </div>
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Biblioteca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-md-4">

            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </main>
    </div>
</nav>
{% endblock %}