{% extends '@KnpMenu/menu.html.twig' %}
{% block linkElement %}
    {% import _self as knp_menu %}

    {% if item.extra('header') %}
        <a class="nav-link disabled" aria-disabled="true">
            <span>{{ block('label') }}</span>
        </a>
    {% else %}
        <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
            {% if item.extra('icon') %}
            <i class="bi bi-{{ item.extra('icon') }}"></i>
            {% endif %}
            <span>{{ block('label') }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block spanElement %}
    {% import _self as knp_menu %}
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
            {{ block('children') }}
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}

    {% if currentItem.parent is not null %}
        <div class="Menu">
            <div class="MenuLink MenuLink--big">
                <i class="bi bi-{{ currentItem.extra('icon') }}"></i>
                {{ block('label') }}
            </div>
            <div class="Menu__content" id="{{ currentItem.name }}">
                <ul class="list-unstyled">
                {% for item in currentItem.children %}
                    {{ block('item') }}
                {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        {% for item in currentItem.children %}
            {{ block('item') }}
        {% endfor %}
    {% endif %}

    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}
