
{% set value = facet.field_name ~':=`'~ count.value ~'`'  %}
{% set label = count.value %}

{% set isIncluded = value in filterQuery %}
<button type="button" class="facets__item {{ isIncluded?'facets__item--active':'' }}"
        data-action="live#action click->search#focus"
        data-live-action-param="addFilter"
        data-live-value-param='{{ value }}'
    >
    <span>
        {% if "enum." in label %}
            {{ label|trans }}
        {% else %}
            {{ label }}
        {% endif %}
    </span>

    {% if count.count is not null %}
    <div>
        <span class="badge rounded-pill bg-primary">
            {{ count.count }} <span class="visually-hidden">{{ "search.records"|trans }}</span>
        </span>
    </div>
    {% endif %}
</button>
