<span {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    {% if this.guessAuthor!='' %}
    <form>
        <button
            data-action="live#action"
            data-live-action-param="prevent|accept"
            class="btn btn-sm btn-outline-success"
        >
            {{ 'author'|trans }}: {{ this.guessAuthor }} //
            {{ 'serie'|trans }}:{{ this.guessSerie }} //
            {{ 'index'|trans }}: {{ this.guessIndex }}


            <i class="bi bi-check"></i>
        </button>
    </form>
    {% endif %}
    {% if this.guessIndex!='' and this.guessIndex!= book.serieIndex %}
    <form>
        <button
            data-action="live#action"
            data-live-action-param="prevent|acceptIndex"
            class="btn btn-sm btn-outline-success"
        >
            {{ 'index'|trans }}: {{ this.guessIndex }}
            <i class="bi bi-check"></i>
        </button>
    </form>
    {% endif %}
</span>
