<span {{ attributes.defaults(stimulus_controller('inline-edit-book')) }}>
{% if isEditing or field=='verified' %}
            <form>
                <div class="input-group">

                    {% if field=='verified' %}
                        <input
                                data-action="live#action"
                                type="checkbox"
                                data-model="book.{{ field }}"
                                data-action-name="prevent|save"
                                class="form-check"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% elseif field=='serieIndex' %}
                        <input
                                type="number"
                                step="1"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% elseif field=='summary' %}
                        <textarea
                                data-model="norender|book.{{ field }}"
                                class="form-control w-100"
                                rows="10"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        >
                            {{ attribute(book, "get"~field) }}
                        </textarea>
                    {% elseif field=='serie' %}
                        <select
                            class="form-select"
                            id="book_{{ book.id }}_{{ field }}"
                            data-model="norender|book.{{ field }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('app_autocomplete_group', {type: field}),
                            }) }}
                        >
                            <option value="{{ attribute(book, "get"~field) }}" selected>{{ attribute(book, "get"~field) }}</option>
                        </select>
                   {% elseif field=='tags' or field=='authors' %}
                        <select
                            multiple
                            class="form-select"
                            id="book_{{ book.id }}_{{ field }}"
                            data-model="norender|book.{{ field }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('app_autocomplete_group', {type: field}),
                            }) }}
                        >
                            {% for tag in attribute(book, "get"~field) %}
                                <option value="{{ tag }}" selected>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input
                                type="text"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% endif %}

                    {% if field!='verified' %}
                        <button
                                data-action="live#action"
                                data-action-name="prevent|save"
                                class="btn btn-outline-success"
                        >
                            <i class="bi bi-journal-check"></i>
                        </button>
                    {% endif %}
                </div>
            </form>
        {% else %}


            {% if field=='serieIndex' %}
                N°
            {% endif %}

            {% if field=='authors' %}
                {% set authors = attribute(book, "get"~field) %}
                {% for author in authors %}
                    <a href="{{ filter_book_url({'authors':[author]}) }}" class="text-decoration-none p-1">
                <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
            </a>
                {% endfor %}
            {% elseif field=='tags' %}
                {% set tags = attribute(book, "get"~field) %}
                {% for tag in tags %}
                    <a href="{{ filter_book_url({'tags':[tag]}) }}" class="text-decoration-none p-1">
                <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
            </a>
                {% endfor %}
            {% elseif field=='serie' and book.serie is not null %}
                <a href="{{ filter_book_url({'serie':[book.serie]}) }}" class="text-decoration-none p-1">
                     <i class="bi bi-list-ol"></i>&nbsp;{{ book.serie }}
                </a>
            {% else %}
                {{ attribute(book, "get"~field) }}
            {% endif %}
        <button
            data-action="live#action"
            data-action-name="activateEditing"
            class="btn m-0 p-0"
            title="Click to edit!"
            style="  -webkit-user-select: text; -moz-user-select: text;-ms-user-select: text;user-select: text;"
        >
            <i class="bi bi-pencil-fill"></i>
        </button>

        {% if flashMessage %}
                <i class="bi bi-check alert-remove"></i>
        {% endif %}
    {% endif %}

    {% if not book.verified and suggestions[field] is defined %}
        {% for key,suggestion in  suggestions[field] %}
            {% if suggestion != attribute(book, "get"~field) %}
            <button
                class="btn btn-outline-secondary btn-sm p-1"
                data-action="live#action"
                data-action-name="usesuggestion(field={{ field }}, suggestion={{ key }})"
            >{{ suggestion }}</button>
            {% endif %}
        {% endfor %}
    {% endif %}
</span>
