<div {{ attributes.defaults(stimulus_controller('inline-edit', { someValue: 'foo'})) }}>

    {% set finished=false %}
    {% if interaction is not null %}
        {% if interaction.finished %}
            {% set finished=true %}
        {% endif %}
    {% endif %}
    <button
        data-action="live#action"
        data-action-name="toggle"
        class="btn btn-link btn-sm text-{{ finished?'success':'secondary' }} text-decoration-none"
        title="Click to toggle read status"
    >
        <i class="fa-solid fa-book"></i>
        {% if flashMessage %}
            <small class="text-muted alert-remove">{{ flashMessage }}</small>
        {% endif %}
    </button>


    {% set favorite = false %}
    {% if interaction is not null %}
        {% if interaction.favorite %}
            {% set favorite = true %}
        {% endif %}
    {% endif %}
    <button
        data-action="live#action"
        data-action-name="toggleFavorite"
        class="btn btn-link btn-sm text-{{ favorite?'success':'secondary' }} text-decoration-none"
        title="Click to toggle favorite"
    >
        <i class="fa-solid fa-heart"></i>
        {% if flashMessageFav %}
            <small class="text-muted alert-remove">{{ flashMessageFav }}</small>
        {% endif %}

    </button>

</div>