<span {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
{% if isEditing and is_granted('ROLE_ADMIN') %}
    <form class="input-group">
            <select
                multiple
                class="form-select form-select-sm"
                id="books_{{ field }}"
                data-model="fieldValue"
                {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                    url: path('app_autocomplete_group', {type: field}),
                }) }}
            ></select>
            <button
                data-action="live#action"
                data-live-action-param="prevent|save"
                class="btn btn-sm btn-outline-danger"
            >
                <i class="bi bi-journal-check"></i> Override {{ field }} for {{ books|length }} books
            </button>
    </form>
{% elseif is_granted('ROLE_ADMIN') %}

    <button
        data-action="live#action"
        data-live-action-param="activateEditing"
        class="btn btn-sm btn-outline-primary"
        style="text-align: left"
        title="Click to edit!"
    >
        Edit {{ field }}
    </button>

    {% if flashMessage %}
        <i class="bi bi-hourglass-split alert-remove"></i>
    {% endif %}
{% endif %}

</span>
