<span {{ attributes.defaults(stimulus_controller('inline-edit-book')) }}>
{% if isEditing or field=='verified' %}
            <form class="row ">
                <div class="input-group col">

                    {% if field=='verified' %}
                        <input
                                data-action="live#action"
                                type="checkbox"
                                data-model="book.{{ field }}"
                                data-action-name="prevent|save"
                                class="form-check"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% elseif field=='serieIndex' %}
                        <input
                                type="number"
                                step="1"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% else %}
                        <input
                                type="text"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% endif %}

                    {% if field!='verified' %}
                        <button
                                data-action="live#action"
                                data-action-name="prevent|save"
                                class="btn btn-outline-success"
                        >
                            <i class="bi bi-journal-check"></i>
                        </button>
                    {% endif %}
                </div>
            </form>
        {% else %}

        <button
            data-action="live#action"
            data-action-name="activateEditing"
            class="btn m-0 p-0"
            title="Click to edit!"
        >
            {% if inline %}
                {{ attribute(book, "get"~field) }}
            {% endif %}

            {% if attribute(book, "get"~field)=='' or not inline %}
                <i class="bi bi-pencil-fill"></i>
            {% endif %}
        </button>

        {% if flashMessage %}
                <i class="bi bi-check alert-remove"></i>
        {% endif %}
    {% endif %}
</span>
