{% set buttonWithText = buttonWithText | default(false) %}

<div {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    {% set modalIdInteraction=unique_id('interaction-', false) %}
    {% set modalIdShelf=unique_id('shelf-', false) %}

    <div class="dropend">
        <button type="button" class="btn btn-sm btn-outline-secondary {{ buttonWithText?'w-100':'' }}" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">

                {% if buttonWithText %}
                    <i class="bi bi-three-dots-vertical"></i>
                    {{ 'inlineeditinteraction.title'|trans }}
                {% else %}
                    <i class="bi bi-three-dots-vertical"></i>
                {% endif %}
        </button>
        <ul class="dropdown-menu">
            {% for case in enum('App\\Enum\\ReadingList').cases() %}
                <li>
                    <a
                        href="#"
                        data-action="live#action"
                        data-live-action-param="toggleReadingList(value={{ case.value }})"
                        data-live-value-param="{{ case.value }}"
                        class="dropdown-item {{ case.value==interaction.readingList.value?'text-success':''}}"
                    >
                        <i class="bi bi-{{ enum('App\\Enum\\ReadingList').getIcon(case) }}"></i>
                        {{ enum('App\\Enum\\ReadingList').getLabel(case)|trans }}
                    </a>
                </li>
            {% endfor %}

            <li>
                <hr class="dropdown-divider">
            </li>
            {% for case in enum('App\\Enum\\ReadStatus').cases() %}
                <li>
                    <a
                        href="#"
                        data-action="live#action"
                        data-live-action-param="toggleReadStatus(value={{ case.value }})"
                        data-live-value-param="{{ case.value }}"
                        class="dropdown-item {{ case.value==interaction.readStatus.value?'text-success':''}}"
                    >
                        <i class="bi bi-{{ enum('App\\Enum\\ReadStatus').getIcon(case) }}"></i>
                        {{ enum('App\\Enum\\ReadStatus').getLabel(case)|trans }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            {% for rating in 0..5 %}
                <li>
                    <a
                        href="#"
                        data-action="live#action"
                        data-live-action-param="changeRating(value={{ rating }})"
                        data-live-value-param="{{ rating }}"
                        class="dropdown-item {{ rating==interaction.rating?'text-success':''}}"
                    >
                        {% if rating==0 %}
                            {{ 'inlineeditinteraction.notrated'|trans }}
                        {% else %}
                            {% for current in 1..rating %}
                                <i class="bi bi-star-fill"></i>
                            {% endfor %}
                        {% endif %}

                    </a>
                </li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <button href="#" class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#{{modalIdInteraction}}" type="button" data-toggle="tooltip" data-placement="bottom">
                    <i class="bi bi-pencil-fill"></i> {{ 'inlineeditinteraction.edit'|trans }}
                </button>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <div class="btn-group dropend">
                    <a class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown"
                       data-bs-auto-close="outside" aria-expanded="false">
                        {{ 'inlineeditinteraction.shelf.add'|trans }}
                    </a>
                    <ul class="dropdown-menu">
                        {% if shelves is not empty %}
                            {% for shelf in shelves %}
                                <li>
                                    {% if shelf in book.shelves %}
                                        <a
                                            data-action="live#action"
                                            data-live-action-param="removeFromShelf(shelfId={{ shelf.id }})"
                                            data-live-shelf-param="{{ shelf.id }}"
                                            class="dropdown-item"
                                            title="{{shelf.name}}"
                                            href="#"
                                        >
                                            <i class="bi bi-check-square"></i>
                                            {{ shelf.name }}
                                        </a>
                                    {% else %}
                                        <a
                                            data-action="live#action"
                                            data-live-action-param="addToShelf(shelfId={{ shelf.id }})"
                                            data-live-shelf-param="{{ shelf.id }}"
                                            class="dropdown-item"
                                            title="{{shelf.name}}"
                                        >
                                            <i class="bi bi-square"></i>
                                            {{ shelf.name }}
                                        </a>
                                    {% endif %}
                                </li>

                            {% endfor %}
                            <!--<li>
                                <hr class="dropdown-divider">
                            </li>-->
                        {% endif %}

                        <!--
                        <li>
                            <a href="#" class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#{{modalIdShelf}}" type="button" data-toggle="tooltip" data-placement="bottom">
                                <i class="bi bi-plus"></i> {{ 'inlineeditinteraction.shelf.new'|trans }}
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    {# Add form to create new shelf #}

    {% component BootstrapModal with {id: modalIdInteraction} %}
        {% block modal_header %}
            <h5>{{ book.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endblock %}
        {% block modal_body %}
            {{ form(form,{
                attr: {
                    'novalidate': true,
                    'class': '',
                    'data-action': 'live#action',
                    'data-live-action-param': 'prevent|saveInteraction',
                }
            }) }}
        {% endblock %}
    {% endcomponent %}

    {% if flashMessage %}
        <small class="text-muted alert-remove">{{ flashMessage | trans }}</small>
    {% endif %}
</div>
