<span {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
        {% if (isEditing or field=='verified') and is_granted('EDIT', book)%}
            <form>
                <div class="input-group">

                    {% if field=='verified' %}
                        <input
                                data-action="live#action"
                                type="checkbox"
                                data-model="book.{{ field }}"
                                data-live-action-param="prevent|save"
                                class="form-check"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% elseif field=='serieIndex' %}
                        <input
                                type="number"
                                step="1"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% elseif field=='summary' %}
                        <textarea
                                data-model="norender|book.{{ field }}"
                                class="form-control w-100"
                                rows="10"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        >
                            {{ attribute(book, "get"~field) }}
                        </textarea>
                    {% elseif field=='serie' %}
                        <select
                            class="form-select"
                            id="book_{{ book.id }}_{{ field }}"
                            data-model="norender|book.{{ field }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('app_autocomplete_group', {type: field}),
                                tom_select_options: {
                                    delimiter: '🪓',
                                },
                            }) }}
                        >
                            <option value="{{ attribute(book, "get"~field) }}" selected>{{ attribute(book, "get"~field) }}</option>
                        </select>
                   {% elseif field=='tags' or field=='authors' %}
                        <select
                            multiple
                            class="form-select"
                            id="book_{{ book.id }}_{{ field }}"
                            data-model="norender|book.{{ field }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('app_autocomplete_group', {type: field}),
                            }) }}
                        >
                            {% for tag in attribute(book, "get"~field) %}
                                <option value="{{ tag }}" selected>{{ tag }}</option>
                            {% endfor %}
                        </select>
                    {% elseif field=='ageCategory' %}
                        <select
                            class="form-select"
                            id="book_{{ book.id }}_{{ field }}"
                            data-model="norender|book.{{ field }}"
                        >

                            {% for value,ageCat in constant('App\\Entity\\User::AGE_CATEGORIES') %}
                                <option value="{{ ageCat }}" {{ value==book.ageCategory??'selected' }}>{{ value }}</option>
                            {% endfor %}
                            <option value="">Not set</option>
                        </select>
                    {% elseif field=='pageNumber' %}
                        <input
                                data-action="live#action"
                                type="number"
                                step="1"
                                data-model="book.{{ field }}"
                                data-live-action-param="prevent|save"
                                class="form-check"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% else %}
                        <input
                                type="text"
                                data-model="norender|book.{{ field }}"
                                class="form-control"
                                autofocus
                                id="book_{{ book.id }}_{{ field }}"
                        />
                    {% endif %}

                    {% if field!='verified' %}
                        <button
                                data-action="live#action"
                                data-live-action-param="prevent|save"
                                class="btn btn-outline-success"
                        >
                            <i class="bi bi-journal-check"></i>
                        </button>
                    {% endif %}
                </div>
            </form>
        {% elseif displayOriginal %}


            {% if field=='serieIndex' %}
                N°
            {% endif %}

            {% if field=='authors' %}
                {% set authors = attribute(book, "get"~field) %}
                {% for author in authors %}
                    <a href="{{ filter_book_url({'authors':[author]}) }}" class="text-decoration-none p-1">
                <i class="bi bi-person-fill"></i>&nbsp;{{ author }}
            </a>
                {% endfor %}
            {% elseif field=='tags' %}
                {% set tags = attribute(book, "get"~field) %}
                {% for tag in tags %}
                    <a href="{{ filter_book_url({'tags':[tag]}) }}" class="text-decoration-none p-1">
                <i class="bi bi-tag-fill"></i>&nbsp;{{ tag }}
            </a>
                {% endfor %}
            {% elseif field=='serie' and book.serie is not null %}
                <a href="{{ filter_book_url({'serie':[book.serie]}) }}" class="text-decoration-none p-1">
                     <i class="bi bi-list-ol"></i>&nbsp;{{ book.serie }}
                </a>
            {% elseif field=='ageCategory' %}
                {% for key, value in constant('App\\Entity\\User::AGE_CATEGORIES')|filter((v,k)=>v==book.ageCategory) %}
                    {{ key }}
                {% else %}
                    -
                {% endfor %}
            {% else %}
                {{ attribute(book, "get"~field) }}
            {% endif %}
            {% if is_granted('EDIT', book) and not book.verified  %}
                <button
                    data-action="live#action"
                    data-live-action-param="activateEditing"
                    class="btn m-0 p-0"
                    title="Click to edit!"
                    style="  -webkit-user-select: text; -moz-user-select: text;-ms-user-select: text;user-select: text;"
                >
                    <i class="bi bi-pencil-fill"></i>
                </button>
            {% endif %}

        {% if flashMessage %}
                <i class="bi bi-hourglass-split alert-remove"></i>
        {% endif %}
    {% endif %}

    {% if not book.verified and suggestions[field] is defined and is_granted('EDIT', book) %}
        {% for key,suggestion in  suggestions[field] %}
            {% if suggestion != attribute(book, "get"~field) %}
            <a
                class="btn btn-outline-secondary btn-sm p-1 suggestion"
                data-action="live#action"
                data-live-action-param="usesuggestion(field={{ field }}, suggestion={{ key }})"
                data-live-field-param="{{ field }}"
                data-live-suggestion-param="{{ key }}"

            >{{ suggestion }}</a>
            {% endif %}
        {% endfor %}
        {% if field=='tags' and suggestions[field]|length>0 %}
            <a
            class="btn btn-primary btn-sm p-1 suggestion"
            data-action="live#action"
            data-live-action-param="usesuggestion(field={{ field }}, suggestion=all)"
            data-live-field-param="{{ field }}"
            data-live-suggestion-param="all"
            >Accept all</a>
            {% endif %}
    {% endif %}
</span>
