<div {{ attributes.defaults(stimulus_controller('inline-edit')) }}>


    <div class="btn-group-vertical btn-group-sm w-100 my-2">
    {% for case in enum('App\\Enum\\ReadStatus').cases() %}
        <button
            data-action="live#action"
            data-live-action-param="toggleReadStatus(value={{ case.value }})"
            data-live-value-param="{{ case.value }}"
            class="btn btn-sm {{ case.value==interaction.readStatus.value?'btn-primary':'btn-outline-primary'}}"
            title="Click to toggle read status"
        >
        {{ enum('App\\Enum\\ReadStatus').getLabel(case)|trans }}
        </button>
    {% endfor %}
    </div>

    {% if interaction.finishedDate is not null or interaction.readStatus == enum('App\\Enum\\ReadStatus').Finished %}
    <div>
        <input
            data-action="live#action"
            data-live-action-param="saveDate"
            type="date"
            data-model="finished"
            class="form-control"
        />
    </div>
    {% endif %}

    <div class="btn-group-vertical btn-group-sm w-100 my-2">
    {% for case in enum('App\\Enum\\ReadingList').cases() %}
        <button
            data-action="live#action"
            data-live-action-param="toggleReadingList(value={{ case.value }})"
            data-live-value-param="{{ case.value }}"
            class="btn btn-sm {{ case.value==interaction.readingList.value?'btn-primary':'btn-outline-primary'}}"
            title="Click to toggle ReadingList"
        >
        {{ enum('App\\Enum\\ReadingList').getLabel(case)|trans }}
        </button>
    {% endfor %}
    </div>
    {% if flashMessage %}
        <small class="text-muted alert-remove">{{ flashMessage }}</small>
    {% endif %}
    <hr>

</div>
