<div {{ attributes }}>

    {% if isEditing %}
        {# The form isn't used, but allows the user to hit enter to save. #}
        <form class="row g-3">
            <div class="input-group mb-3 col">

                <div class="form-floating">
                    <select
                        data-model="norender|item.item"
                        {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                            url: path('app_autocomplete_group', {type: type}),
                        }) }}
                    >
                        <option value="{{ item.item }}" selected>{{ item.item }}</option>
                    </select>
                </div>

                <button data-action="live#action" data-action-name="prevent|save" class="btn btn-outline">
                    Save
                </button>
            </div>
        </form>
    {% else %}

        {% if link %}
            <a href="{{ path('app_'~type~'_detail', {slug: item.slug}) }}">
        {% endif %}
            {{ item.item }}
        {% if link %}
            </a>
        {% endif %}
        ({{ item.booksFinished }}/{{ item.bookCount }})

        <button data-action="live#action" data-action-name="activateEditing" class="btn p-0" title="Click to edit!">
            <small class="bi bi-pencil"></small>
        </button>

        {% if flashMessage %}
            <div class="badge text-bg-success">{{ flashMessage }}</div>
        {% endif %}
    {% endif %}
</div>
