<div {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text"
                       class="form-control-lg w-100"
                       id="search"
                       placeholder="Search for..."
                       data-model="debounce(500)|query"
                       autofocus
                />
            </div>
            <div class="" style="z-index: 999">
                <div class=" bg-dark">
                    {% for facet in facets|default([]) %}
                        {% for count in facet.counts %}
                            {% set value = facet.field_name ~':"'~ count.value ~'"'  %}
                            {% if count.value =='true'%}
                                {% set value = '#'~facet.field_name  %}
                            {% elseif count.value =='false'%}
                                {% set value = '#not_'~facet.field_name  %}
                            {% endif %}
                            {% set isIncluded = value in filters %}
                            <button type="button" class="btn badge {{ isIncluded?'bg-success':'bg-secondary' }} btn-bare"
                                        data-action="live#action"
                                        data-live-action-param="addToQuery"
                                        data-live-value-param='{{ value }}'
                                >
                                    <small>
                                        {{ value }}
                                        <span class="badge rounded-pill bg-primary">
                                    {{ count.count }}
                                    <span class="visually-hidden">records</span>
                                </span>
                                    </small>
                                </button>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="my-2">
            {% for filter in filters %}
                <button type="button" class="btn btn-bare badge bg-primary"
                        data-action="live#action"
                        data-live-action-param="addToQuery"
                        data-live-value-param="{{ filter }}"
                >
                    {{ filter }} <i class="bi bi-x-circle"></i>
                </button>
            {% endfor %}
            </div>

            <span class="badge bg-secondary">{{ found }} results</span>

            couverture, liste de lecture, lus, index, extension, age, orderby

        </div>
        {% if books|length >0 %}
            <div class="row">
                {% for book in books %}
                    <div class="col-md-4 col-lg-3 col-xl-2 col-sm-4 col-6">
                        {% include themedTemplate('book/_teaser.html.twig') with {book: book.book} %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
