<div {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text"
                       class="form-control-lg w-100"
                       id="search"
                       placeholder="Search for..."
                       data-model="query"
                />
            </div>
        </div>
        {% if computed.results.books|default([])|length >0 %}
        <div class="row mt-5">
            <div class="col-md-9 col-xs-6">
                <div class="row">
                    <h5> Results</h5>
                    {% for book in computed.results.books|default([]) %}
                        <div class="col-md-3 col-xs-12">
                            {% include 'book/_teaser.html.twig' with {book: book.book} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                {% for facet in computed.results.facets|default([]) %}
                    {% if facet.counts|length>0 %}
                        <h5 class="m-0 mb-2">{{ facet.field_name|capitalize }}</h5>
                        <ul class="list-group mb-4">
                        {% for count in facet.counts %}
                            <li class="list-group-item {{ count.value in query?'active' }}">
                                <button type="button" class="btn btn-sm btn-bare position-relative"

                                        data-action="live#action"
                                        data-action-name="addToQuery(value={{ count.value|e('html') }})"

                                >
                                    {{ count.value }}
                                    <span class="badge rounded-pill bg-primary">
                                {{ count.count }}
                                <span class="visually-hidden">records</span>
                            </span>
                                </button>
                            </li>
                        {% endfor %}
                            </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
