<span {{ attributes.defaults(stimulus_controller('inline-edit')) }}>
    {% if isEditing and is_granted('EDIT', book) %}
        <div class="btn-group mt-2">

            <input type="file" name="cover" accept="image/png, image/jpeg, image/webp" class="form-control"/>
            <button data-action="live#action" class="btn btn-sm btn-outline-primary" data-live-action-param="files|uploadFiles">
                {{ 'book.upload-cover'|trans }}
            </button>
        </div>
    {% elseif is_granted('EDIT', book) %}

        <button
            data-action="live#action"
            data-live-action-param="activateEditing"
            class="btn btn-sm btn-primary"
            title="{{ "book.upload-cover-title"|trans }}"
        >
            <i class="bi bi-upload"></i><br />
            {{ 'book.upload-cover'|trans }}
        </button>

    {% endif %}
    {% if flashMessage %}
        <div class="alert alert-danger mt-3">
             {{ flashMessage }}
            </div>
    {% endif %}
</span>
