{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}
{% block body %}
    <h1>{{ "error.error-happened"|trans }}</h1>
    <h2>{{ status_code }} {{ status_text }}</h2>
    <h3>{{exception.message}}</h3>
    <details>
        <summary>{{ "error.stack-trace"|trans }}</summary>
        {{ exception.traceAsString }}
    </details>

{% endblock %}