{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}
{% block body %}
    <h1>{{ status_code }} {{ status_text }}</h1>

    <h2>{{exception.message}}</h2>
    <pre>{{ exception.traceAsString }}</pre>

{% endblock %}