{% extends 'base.html.twig' %}

{% block title %}Ai Models{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ "ai.id"|trans }}</th>
                <th>{{ "ai.type"|trans }}</th>
                <th>{{ "ai.url"|trans }}</th>
                <th>{{ "ai.model"|trans }}</th>
                <th>{{ "ai.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for ai_model in ai_models %}
            <tr>
                <td>{{ ai_model.id }}</td>
                <td>{{ ai_model.type }}</td>
                <td>{{ ai_model.url }}</td>
                <td>{{ ai_model.model }}</td>
                <td>
                    <div class="btn-group">
                    <a class="btn btn-secondary btn-sm" href="{{ path('app_ai_model_test', {'id': ai_model.id}) }}">
                        <i class="bi bi-check-circle"></i>
                        Test
                    </a>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_ai_model_edit', {'id': ai_model.id}) }}">
                        <i class="bi bi-pencil-fill"></i>
                        {{ "generic.edit"|trans }}
                    </a>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')" href="{{ path('app_ai_model_delete', {'id': ai_model.id}) }}">
                        <i class="bi bi-trash-fill"></i>
                        {{ "generic.delete"|trans }}
                    </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "generic.no-records-found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_ai_model_new') }}" class="btn btn-primary">{{ "ai.create-new-model"|trans }}</a>

    <div class="Card my-3">
        <div class="Card__title">
            <h3 class="Heading">{{ "ai.usage-configuration"|trans }}</h3>
        </div>
        <div class="Card__content">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
