<article>
    <a href="{{ path('app_article',{'slug':article.slug}) }}">
        <img alt="{{ article.title }}" src="{{ asset('images/'~article.image)|imagine_filter('thumb') }}">
    </a>

    <span>
        {{ article.type }}
    </span>
    <h2>
        <a href="{{ path('app_article',{'slug':article.slug}) }}">
            {% if article.eventDate is not null %}
                <span>
                    {{ article.eventDate|date('d.m.Y') }}
                </span>
            {% endif %}
            {{ article.title }}
        </a>
    </h2>
    <time datetime="{{ article.created|date('c') }}">&Eacute;crit le {{ article.created|date('d.m.Y') }}</time>

</article>