{% extends themedTemplate('base.html.twig') %}

{% block title %}{{ "user.manage-users"|trans }}{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'user.username'|trans }}</th>
                <th>{{ 'user.roles'|trans }}</th>
                <th>{{ "user.max-age-category"|trans }}</th>
                <th>{{ "user.last-login"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
                </td>
                <td>
                    <small>{{ user.roles|join(', ') }}</small>
                </td>
                <td>
                    {% if user.maxAgeCategory is not null %}
                        {{ user.maxAgeCategory }} - {{ age_categories[user.maxAgeCategory] }}
                    {% endif %}
                </td>
                <td>
                    {% if user.lastLogin is not null %}
                    {{ user.lastLogin|date('Y-m-d H:i') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-primary">{{ "generic.create"|trans }}</a>
{% endblock %}
